{% for variant in product.variants %}
{%- assign price = variant.price | money -%}
{% endfor %}
<div class="mfu-value-section medium-up--one-half">
  <div class="section-header">
    <h2>MFY VALUE</h2>
  </div>
  <div class="grid">
    <div class="grid__item medium-up--one-third">
      <div class="value_icons small--one-half">
        <svg xmlns="http://www.w3.org/2000/svg" width="33" height="46" viewBox="0 0 33 46"><defs><style>.a,.b{fill:#fff;}.a{opacity:0;}</style></defs><g transform="translate(-370 -1020)"><rect class="a" width="33" height="46" transform="translate(370 1020)"/><g transform="translate(-99 17)"><path class="b" d="M24.144,13.732,17.815,6.684a7.064,7.064,0,0,0-4.348-2.2V.847a.97.97,0,0,0-1.924,0V4.481A6.93,6.93,0,0,0,7.2,6.684L.856,13.74A3.273,3.273,0,0,0,0,15.909V37.078a3.733,3.733,0,0,0,3.953,3.456H21.027A3.738,3.738,0,0,0,25,37.1V15.909A3.311,3.311,0,0,0,24.144,13.732ZM12.5,12.741a2.645,2.645,0,0,1,2.8,2.465,2.645,2.645,0,0,1-2.8,2.465,2.645,2.645,0,0,1-2.8-2.465A2.65,2.65,0,0,1,12.5,12.741ZM23.086,37.078a1.914,1.914,0,0,1-2.049,1.762H3.973a1.914,1.914,0,0,1-2.049-1.762V15.909a1.649,1.649,0,0,1,.442-1.118L8.705,7.734A4.961,4.961,0,0,1,11.543,6.2v4.93a4.2,4.2,0,0,0-3.665,4.922,4.745,4.745,0,0,0,5.589,3.228,4.2,4.2,0,0,0,3.665-4.922,4.483,4.483,0,0,0-3.665-3.228V6.2a5.329,5.329,0,0,1,1.145.339,4.736,4.736,0,0,1,1.683,1.194l6.349,7.048a1.686,1.686,0,0,1,.442,1.127Z" transform="translate(473 1005)"/><path class="b" d="M7.193,7.66A3.679,3.679,0,0,0,3.681,5.5,1.371,1.371,0,0,1,2.205,4.268,1.371,1.371,0,0,1,3.681,3.033,1.371,1.371,0,0,1,5.156,4.268a1.026,1.026,0,0,0,1.1.922,1.026,1.026,0,0,0,1.1-.922,3.2,3.2,0,0,0-2.576-2.94V.922A1.026,1.026,0,0,0,3.681,0a1.026,1.026,0,0,0-1.1.922v.406C.642,1.834-.437,3.567.168,5.19A3.679,3.679,0,0,0,3.681,7.347,1.371,1.371,0,0,1,5.156,8.582,1.371,1.371,0,0,1,3.681,9.817,1.371,1.371,0,0,1,2.205,8.582,1.026,1.026,0,0,0,1.1,7.66,1.026,1.026,0,0,0,0,8.582a3.2,3.2,0,0,0,2.576,2.94v.461a1.026,1.026,0,0,0,1.1.922,1.026,1.026,0,0,0,1.1-.922v-.461C6.719,11.015,7.8,9.282,7.193,7.66Z" transform="translate(482 1027)"/></g></g></svg>
      </div>
      <div class="small--one-half">
        <h6>Our Price</h6>
        <p class="price_value">{{ price }}</p>
      </div>
    </div>
    <div class="grid__item medium-up--one-third">
      <div class="value_icons small--one-half">
        <svg xmlns="http://www.w3.org/2000/svg" width="37" height="27" viewBox="0 0 37 27"><defs><style>.a,.b{fill:#fff;}.a{opacity:0;}</style></defs><g transform="translate(-142 -1030)"><rect class="a" width="37" height="27" transform="translate(142 1030)"/><g transform="translate(147 1036)"><path class="b" d="M0,0H3.812c.147,0,.183.035.22.175.183.909.4,1.853.623,2.762.33,1.4.623,2.762.953,4.161l.33,1.469V8.6c0,.035.037.035.073.07.037-.035.073-.035.073-.07a5.454,5.454,0,0,1,.147-.664c.293-1.329.55-2.692.843-4.021.257-1.259.513-2.483.77-3.741A1.453,1.453,0,0,0,7.88,0h3.885V14.965H8.906V5.629c-.147-.035-.11.035-.11.1-.147.629-.257,1.224-.4,1.853C7.88,10,7.366,12.413,6.89,14.825c-.037.14-.073.175-.22.175H4.911c-.11-.455-.183-.874-.293-1.294-.257-1.084-.476-2.168-.733-3.287-.257-1.154-.513-2.308-.77-3.5-.073-.385-.183-.8-.257-1.189,0-.035-.037-.07-.073-.1a.035.035,0,0,0-.037.035V15H.037C0,10,0,5,0,0Z"/><path class="b" d="M.037,0H3.225c.66,2.028,1.356,4.021,2.016,6.049.183-.664.4-1.259.586-1.888C6.23,2.8,6.67,1.434,7.073.1,7.11.035,7.11,0,7.22,0h2.932c-.11.315-.257.664-.366.979C9.2,2.552,8.649,4.091,8.063,5.664,7.586,6.993,7.073,8.287,6.6,9.615a.425.425,0,0,0-.037.21V15H3.555V9.9a1.994,1.994,0,0,0-.183-.664c-.366-.944-.7-1.923-1.063-2.867C1.832,5.1,1.356,3.811.916,2.552.623,1.748.33.909,0,.1.073.07.037.035.037,0Z" transform="translate(17.848)"/><path class="b" d="M0,0H7.037V2.413H3.079V6.469H5.864c.073,0,.147,0,.147.1V8.881H3.079v6.084H0Z" transform="translate(12.607)"/></g></g></svg>
      </div>
      <div class="small--one-half">
        <h6>Free Return</h6>
        <p>60 Days</p>
      </div>
    </div>
    <div class="grid__item medium-up--one-third">
      <div class="value_icons small--one-half">
        <svg xmlns="http://www.w3.org/2000/svg" width="37" height="37" viewBox="0 0 37 37"><defs><style>.a,.b{fill:#fff;}.a{opacity:0;}</style></defs><g transform="translate(-600 -1023)"><rect class="a" width="37" height="37" transform="translate(600 1023)"/><g transform="translate(-99 17)"><path class="b" d="M23.263-7.537a8.712,8.712,0,0,1-2.78,5.176A9.107,9.107,0,0,1,14.337,0,9.108,9.108,0,0,1,8.192-2.361a8.713,8.713,0,0,1-2.78-5.176A8.825,8.825,0,0,1,0-15.611a8.925,8.925,0,0,1,9.019-8.808,9.182,9.182,0,0,1,4.349,1.092V-32.3h1.938v8.975a9.182,9.182,0,0,1,4.349-1.092,8.925,8.925,0,0,1,9.019,8.808A8.825,8.825,0,0,1,23.263-7.537ZM19.655-22.526a7.182,7.182,0,0,0-4.349,1.459v5.788l4.346,2.232-.9,1.675L15.306-13.14v3.726H13.368v-7.921L9.924-15.567l-.9-1.675,4.346-2.232v-1.593a7.182,7.182,0,0,0-4.349-1.459,7.007,7.007,0,0,0-7.081,6.915A6.942,6.942,0,0,0,6.637-9.1l.593.207.047.613A6.826,6.826,0,0,0,9.513-3.746a7.15,7.15,0,0,0,4.824,1.853,7.15,7.15,0,0,0,4.825-1.853A6.826,6.826,0,0,0,21.4-8.278l.047-.613.593-.207a6.942,6.942,0,0,0,4.7-6.513A7.007,7.007,0,0,0,19.655-22.526Z" transform="translate(732.323 1007.488) rotate(180)"/></g></g></svg>
      </div>
      <div class="small--one-half">
        <h6>One Tree Planted</h6>
        <p>with every purchase</p>
      </div>
    </div>
  </div>
</div>