<div class="shipping-returns static_page">
  {% include 'breadcrumb' %}
  <div class="page-width">
    <div class="grid">
      <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
        <div class="section-header text-center">
          <h1>{{ page.title }}</h1>
        </div>
        <div class="rte">
          <p>Enjoy complimentary shipping &amp; returns on all orders.</p>
          <p>Online purchases can only be returned online, not in-store.</p>
          <p>If for any reason you are not satisfied, we will gladly accept most items for exchange, refund or merchandise credit within 30 days. Custom and engraved items are non-refundable. After 30 days, all sales are final. All returns must be in the original condition.</p>
          <p>All refunds will be issued in the original form of payment within 14 days from the date the return is received. Merchandise credits will be issued through our system within 3 days from the date the return is received. Please contact us at <a href="mailto:mfy@renaissanceglobal.com">MFY@renaissanceglobal.com</a></p>
          <h4 class="informative">Returning a Shipment</h4>
          <p>Please contact us at <a href="mailto:mfy@renaissanceglobal.com">MFY@renaissanceglobal.com</a> to make arrangements for returning your item. A specialist will provide you with shipping instructions along with a Return Authorization Number.</p>
        </div>
      </div>
    </div>
  </div>
</div>