<div class="about-us-page">
  {% section 'about-us-baner' %}
  {% section 'about-text-section' %}
  {% section 'about-us-feature1' %}
  {% section 'about-us-feature2' %}
  {% section 'about-us-feature3' %}
  {% section 'about-us-collection' %}
</div>
