{% include 'page-our-collaboration-css' %}

<div class="page-our-collaboration page-static-common">
  {% section 'oc-banner' %}
  {% section 'oc-anika-shah' %}
  {% section 'oc-about-anika' %}
  {% section 'instagram-feed' %}
</div>