<div class="page-width faqs-page">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h2>{{ page.title }}</h2>
      </div>
      
      <div class="faq-content-data product_description--accordion">
        <div class="accordion_container">
          <h3>About MFY</h3>
          <h4 class="accordion-header"><span class="q-title">Q. About MFY</span>
            <span class="toggle-icon">
              <svg class="plus" width="10" height="10" viewBox="0 0 469.33333 469.33333" xmlns="http://www.w3.org/2000/svg"><path d="m437.332031 192h-160v-160c0-17.664062-14.335937-32-32-32h-21.332031c-17.664062 0-32 14.335938-32 32v160h-160c-17.664062 0-32 14.335938-32 32v21.332031c0 17.664063 14.335938 32 32 32h160v160c0 17.664063 14.335938 32 32 32h21.332031c17.664063 0 32-14.335937 32-32v-160h160c17.664063 0 32-14.335937 32-32v-21.332031c0-17.664062-14.335937-32-32-32zm0 0"/></svg>
              <svg class="minus" width="10" height="10" viewBox="0 -192 469.33333 469" xmlns="http://www.w3.org/2000/svg"><path d="m437.332031.167969h-405.332031c-17.664062 0-32 14.335937-32 32v21.332031c0 17.664062 14.335938 32 32 32h405.332031c17.664063 0 32-14.335938 32-32v-21.332031c0-17.664063-14.335937-32-32-32zm0 0"/></svg>
            </span>
          </h4>
          <div class="accordion-content">
            <p>A. Irasva is a fine jewellery, retail brand from Verigold Jewellery India Private Limited which is a joint venture between Renaissance Global Limited and the Times of India Group.</p>
            <p>Renaissance Global Limited is a public listed company that designs, manufactures and exports jewellery to several global jewellery retail chains. Fred Meyer, Messika and Kendra Scott are just a few of our esteemed customers. Being a design-led organization, we pride ourselves on the fact that we have a young and experienced team, with an understanding of the latest international trends and preferences.</p>
          </div>
          <h4 class="accordion-header"><span class="q-title">Q. What is the meaning of Irasva?</span>
            <span class="toggle-icon">
              <svg class="plus" width="10" height="10" viewBox="0 0 469.33333 469.33333" xmlns="http://www.w3.org/2000/svg"><path d="m437.332031 192h-160v-160c0-17.664062-14.335937-32-32-32h-21.332031c-17.664062 0-32 14.335938-32 32v160h-160c-17.664062 0-32 14.335938-32 32v21.332031c0 17.664063 14.335938 32 32 32h160v160c0 17.664063 14.335938 32 32 32h21.332031c17.664063 0 32-14.335937 32-32v-160h160c17.664063 0 32-14.335937 32-32v-21.332031c0-17.664062-14.335937-32-32-32zm0 0"/></svg>
              <svg class="minus" width="10" height="10" viewBox="0 -192 469.33333 469" xmlns="http://www.w3.org/2000/svg"><path d="m437.332031.167969h-405.332031c-17.664062 0-32 14.335937-32 32v21.332031c0 17.664062 14.335938 32 32 32h405.332031c17.664063 0 32-14.335938 32-32v-21.332031c0-17.664063-14.335937-32-32-32zm0 0"/></svg>
            </span>
          </h4>
          <div class="accordion-content">
            <p>A. 'Ira' stands for the pure emotions of love and 'Sva' signifies the essence of the self. Irasva symbolises the inseparable harmony of self-love. We believe that every woman has an intimate relationship with her jewellery; it inspires every woman to feel beautiful and express herself in every moment.</p>
          </div>
          <h4 class="accordion-header"><span class="q-title">Q. Where is your jewellery made?</span>
            <span class="toggle-icon">
              <svg class="plus" width="10" height="10" viewBox="0 0 469.33333 469.33333" xmlns="http://www.w3.org/2000/svg"><path d="m437.332031 192h-160v-160c0-17.664062-14.335937-32-32-32h-21.332031c-17.664062 0-32 14.335938-32 32v160h-160c-17.664062 0-32 14.335938-32 32v21.332031c0 17.664063 14.335938 32 32 32h160v160c0 17.664063 14.335938 32 32 32h21.332031c17.664063 0 32-14.335937 32-32v-160h160c17.664063 0 32-14.335937 32-32v-21.332031c0-17.664062-14.335937-32-32-32zm0 0"/></svg>
              <svg class="minus" width="10" height="10" viewBox="0 -192 469.33333 469" xmlns="http://www.w3.org/2000/svg"><path d="m437.332031.167969h-405.332031c-17.664062 0-32 14.335937-32 32v21.332031c0 17.664062 14.335938 32 32 32h405.332031c17.664063 0 32-14.335938 32-32v-21.332031c0-17.664063-14.335937-32-32-32zm0 0"/></svg>
            </span>
          </h4>
          <div class="accordion-content">
            <p>A. Our diamond jewellery is designed and manufactured in-house at our factory located in SEEPZ, Andheri. With the ability to craft over 1,000 unique designs a month, the state of the art production facility encompasses 1,66,000 square feet, divided into 8 units.</p>
          </div>
          <h4 class="accordion-header"><span class="q-title">Q. Does Irasva have a catalogue?</span>
            <span class="toggle-icon">
              <svg class="plus" width="10" height="10" viewBox="0 0 469.33333 469.33333" xmlns="http://www.w3.org/2000/svg"><path d="m437.332031 192h-160v-160c0-17.664062-14.335937-32-32-32h-21.332031c-17.664062 0-32 14.335938-32 32v160h-160c-17.664062 0-32 14.335938-32 32v21.332031c0 17.664063 14.335938 32 32 32h160v160c0 17.664063 14.335938 32 32 32h21.332031c17.664063 0 32-14.335937 32-32v-160h160c17.664063 0 32-14.335937 32-32v-21.332031c0-17.664062-14.335937-32-32-32zm0 0"/></svg>
              <svg class="minus" width="10" height="10" viewBox="0 -192 469.33333 469" xmlns="http://www.w3.org/2000/svg"><path d="m437.332031.167969h-405.332031c-17.664062 0-32 14.335937-32 32v21.332031c0 17.664062 14.335938 32 32 32h405.332031c17.664063 0 32-14.335938 32-32v-21.332031c0-17.664063-14.335937-32-32-32zm0 0"/></svg>
            </span>
          </h4>
          <div class="accordion-content">
            <p>A. We don't have a catalogue available at the moment. However, you can explore our collections online, on our website as well as on Instagram and in-store.</p>
          </div>
          <h4 class="accordion-header"><span class="q-title">Q. Collection of rings</span>
            <span class="toggle-icon">
              <svg class="plus" width="10" height="10" viewBox="0 0 469.33333 469.33333" xmlns="http://www.w3.org/2000/svg"><path d="m437.332031 192h-160v-160c0-17.664062-14.335937-32-32-32h-21.332031c-17.664062 0-32 14.335938-32 32v160h-160c-17.664062 0-32 14.335938-32 32v21.332031c0 17.664063 14.335938 32 32 32h160v160c0 17.664063 14.335938 32 32 32h21.332031c17.664063 0 32-14.335937 32-32v-160h160c17.664063 0 32-14.335937 32-32v-21.332031c0-17.664062-14.335937-32-32-32zm0 0"/></svg>
              <svg class="minus" width="10" height="10" viewBox="0 -192 469.33333 469" xmlns="http://www.w3.org/2000/svg"><path d="m437.332031.167969h-405.332031c-17.664062 0-32 14.335937-32 32v21.332031c0 17.664062 14.335938 32 32 32h405.332031c17.664063 0 32-14.335938 32-32v-21.332031c0-17.664063-14.335937-32-32-32zm0 0"/></svg>
            </span>
          </h4>
          <div class="accordion-content">
            <p>A. You can browse through our collection of rings on the following page:</p>  
            <p><a href="https://www.irasva.com/collections/diamond-rings-women">https://www.irasva.com/collections/diamond-rings-women</a></p>
            <p>If you'd like to try any of the products on, I can arrange for them to be sent to your home/office as a part of our free Try @ Home service. Please don’t hesitate to let me know if you'd like me to arrange this for you.
              Screen reader support enabled.
            </p>
          </div>
          <h4 class="accordion-header"><span class="q-title">Q. Collection of earrings</span>
            <span class="toggle-icon">
              <svg class="plus" width="10" height="10" viewBox="0 0 469.33333 469.33333" xmlns="http://www.w3.org/2000/svg"><path d="m437.332031 192h-160v-160c0-17.664062-14.335937-32-32-32h-21.332031c-17.664062 0-32 14.335938-32 32v160h-160c-17.664062 0-32 14.335938-32 32v21.332031c0 17.664063 14.335938 32 32 32h160v160c0 17.664063 14.335938 32 32 32h21.332031c17.664063 0 32-14.335937 32-32v-160h160c17.664063 0 32-14.335937 32-32v-21.332031c0-17.664062-14.335937-32-32-32zm0 0"/></svg>
              <svg class="minus" width="10" height="10" viewBox="0 -192 469.33333 469" xmlns="http://www.w3.org/2000/svg"><path d="m437.332031.167969h-405.332031c-17.664062 0-32 14.335937-32 32v21.332031c0 17.664062 14.335938 32 32 32h405.332031c17.664063 0 32-14.335938 32-32v-21.332031c0-17.664063-14.335937-32-32-32zm0 0"/></svg>
            </span>
          </h4>
          <div class="accordion-content">
            <p>A. You can browse through our collection of earrings on the following page:</p>
            <p><a href="https://www.irasva.com/collections/diamond-earrings-women">https://www.irasva.com/collections/diamond-earrings-women</a></p>
            <p>If you'd like to try any of the products on, I can arrange for them to be sent to your home/office as part of our free Try @ Home service. Please don’t hesitate to let me know if you'd like me to arrange this for you.</p>
          </div>
          <h4 class="accordion-header"><span class="q-title">Q. Collection of pendants</span>
            <span class="toggle-icon">
              <svg class="plus" width="10" height="10" viewBox="0 0 469.33333 469.33333" xmlns="http://www.w3.org/2000/svg"><path d="m437.332031 192h-160v-160c0-17.664062-14.335937-32-32-32h-21.332031c-17.664062 0-32 14.335938-32 32v160h-160c-17.664062 0-32 14.335938-32 32v21.332031c0 17.664063 14.335938 32 32 32h160v160c0 17.664063 14.335938 32 32 32h21.332031c17.664063 0 32-14.335937 32-32v-160h160c17.664063 0 32-14.335937 32-32v-21.332031c0-17.664062-14.335937-32-32-32zm0 0"/></svg>
              <svg class="minus" width="10" height="10" viewBox="0 -192 469.33333 469" xmlns="http://www.w3.org/2000/svg"><path d="m437.332031.167969h-405.332031c-17.664062 0-32 14.335937-32 32v21.332031c0 17.664062 14.335938 32 32 32h405.332031c17.664063 0 32-14.335938 32-32v-21.332031c0-17.664063-14.335937-32-32-32zm0 0"/></svg>
            </span>
          </h4>
          <div class="accordion-content">
            <p>A. You can browse through our collection of pendants on the following page:</p>
            <p><a href="https://www.irasva.com/collections/diamond-pendant-and-necklaces-women">https://www.irasva.com/collections/diamond-pendant-and-necklaces-women</a></p>
            <p>If you'd like to try any of the products on, I can arrange for them to be sent to your home/office as part of our free Try @ Home service. Please don’t hesitate to let me know if you'd like me to arrange this for you.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .faqs-page .section-header h2{
    padding-top: 40px;
  }
  .faqs-page .accordion_container h3{
    margin: 30px 0 15px;
    color: #000000;
    font-size: 22px;
    line-height: 26px; 
  }
  .faqs-page .accordion_container .accordion-header {
    padding: 8px 10px 6px 10px;
    font-size: 14px;
    border-bottom: 1px solid #fff;
    color: #000000;
    background: #cbccc7;
  }
  .faqs-page .accordion_container .accordion-header.active {
    background: #eec4b2;
  }
  .faqs-page .accordion_container .accordion-header a{
    color:#fff; 
  }
  .faqs-page .accordion_container .accordion-content {
    background: #fff;
    color: #005272;
    font-size: 14px;
    padding: 10px;
    display: none;
  }
  .faqs-page .accordion_container .accordion-content p{
    margin-bottom:10px; 
    line-height: 20px;
  }
  .faq-content-data .accordion-header .toggle-icon{
    right:20px;
  }
</style>