<div class="page-gifts">
  {% section 'gifts-header' %}
  {% section 'gifts-two-columns' %}
  {% section 'gifts-purpose' %}
  {% section 'gifts-collection' %}
  {% section 'gifts-giftbox' %}
  {% section 'feature-row' %}
  {% section 'instagram-feed' %}
</div>