<div class="anika-shah-page">
  {% section 'anika-banner' %}
  {% section 'anika-collection' %}
  {% section 'anika-feature-row' %}
  {% section 'inspired-earth' %}
  {% section 'inspired-seed' %}
  {% section 'inspired-growth' %}
  {% section 'anika-testimonial' %}
  {% comment %}
  {% section 'anika-blog' %}
  {% endcomment %}
  {% section 'anika-instagram' %}
</div>