{% section 'anouncement-currency' %}
<div class="container-padd60 visible-xs">
<div class="logo-navigation">
    <div class="header-logo">
      {% section 'header-logo' %}
    </div>
    <div class="nav-header-combine">
      {% section 'navigation' %}
      {% section 'header' %}
    </div>
  </div>
</div>


<div class="hidden-xs">
<div class="logo-navigation">
    <div class="nav-header-combine">
      {% section 'navigation' %}
      {% section 'header' %}
    </div>
  </div>
</div>