<a href="/cart" title="Cart" class="cart-icon btn btn-cart">
  {% include 'icon-cart' %}
  <span class="cartCount" data-cart-count><span class="ic_cart">&#40;</span>{{ cart.item_count }}<span class="ic_cart">&#41;</span></span>
  <p class="line-dr"></p>
</a>


