<div class="page-tpl about-us-page">
  <div class="container breadcrumb-container">
    {% include 'breadcrumb' %}
  </div>
  <div class="container">
    <div class="about_first_four_sec">
      <div class="about-banner">
        <img class="desk_image" src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/about-us2.png?v=1603460112" alt="" />
        <img class="mob_image" src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/about-us2_1.png?v=1603720613" alt="" />
      </div>

      <div class="about-second-sec">
        <div class="about_second_top_sec">
          <h3> Jewelry with a conscience</h3>
          <p>Our mission upholds a conscious way of life that builds a better future, together. </p>
        </div>
        <div class="about_second_btm_sec">
          <div class="content_info">
            <div class="img_data">
              <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/Sustainable-Logo.png?v=1603721009">
            </div>
          </div>
          <div class="content_info">
            <div class="img_data">
              <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/Conflict-Free-Logo.png?v=1603721009">
            </div>
          </div>
          <div class="content_info">
            <div class="img_data">
              <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/Greener-Logo.png?v=1603721010">
            </div>
          </div>
          <div class="content_info">
            <div class="img_data">
              <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/Recycled-Metal-logo.png?v=1603721009">
            </div>
          </div>
        </div>
      </div>

      <div class="about-three-block-sec">
        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/Mission.png?v=1603719173" alt="">
            </div>
            <div class="flip-box-back">
              <div class="info">
                <div class="datas">
                  <p>With an aim to be 100% carbon-neutral  in the next five years, MFY was founded to share conscious love through fine diamond jewelry that reflects our vision of  jewelry with diamonds that have the same properties as their mined counterparts and also preserve
                    your conscience.</p>
                  <p>We look forward to a cleaner and brighter future – with you.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/sustain.png?v=1603719172" alt="">
            </div>
            <div class="flip-box-back">
              <div class="info">
                <div class="datas">
                  <p>Our partnership with One Tree Planted plants a tree with every purchase made.</p>
                  <p>The use of recycled metal and Lab-grown diamonds reiterates our belief in conscious consumption and encourages you to recycle and reuse while reducing our carbon consumption.</p>
                  <p> The Renaissance Foundation is planting 10,000 trees to aid reforestation and also focuses on improving education, healthcare, humanitarian relief, and animal welfare.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/Values_1.png?v=1603719173" alt="">
            </div>
            <div class="flip-box-back">
              <div class="info">
                <div class="datas">
                  <p>We value our community, and the universe we live in.</p>
                  <p>Our 100% conflict-free jewelry doesn’t affect the living conditions of communities and shares the passion of our craftsmen, artisans, and workers to offer easy, ethical, and environmentally-friendly jewelry that you will love. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="about-forth-sec">
        <p>At the core of Made For You is a pillar of support offered by our parent comapny-<br>
          <b>Renaissance Global Limited.</b></p>
      </div>
    </div>
    <div class="about-fifth-sec">
      <img class="desk_image" src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/word_cloud.png?v=1603461930" alt="" />
      <img class="mob_image" src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/word_cloud_1.png?v=1603720621">
    </div>

    <!--     <div class="content">
<h1 class="section-title">{{ page.title }}</h1>
<div>
<p>Made for you Lab-grown diamonds are committed to creating luxury products that provide an environmentally conscious alternative. Crafted keeping in mind the respect that our customers have for our planet, our diamonds offer luxury - width a heart. High in quality, and truly Made For You in every sense, we bring to you classic designs with a contemporary touch made with masterfully cut, conflict-free Lab-grown diamonds set in responsibly sourced recycled gold.</p>
<p>Better for you, better for the world!</p>
<p>At the core of Made For You is a pillar of support offered by our parent company - Renaissance global Limited. An umbrella brand with so much to offer, it symbolises integrity and quality.</p>
</div>
<img class="desk_image" src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/about-us-image.png?v=1600665219" alt="" />
<img class="mob_image" src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/about-us-image-mob.png?v=1600672978" alt="" />
</div>
-->
    <!--     <div class="accordion">
<div class="acc-block">
<div class="acc-title">
<h5>HISTORY</h5>
</div>
<div class="acc-description">
<p>With over 2 decades of experience, India's largest designer, manufacturer and exporter of studded jewelery - <b>Renaissance Global Limited</b> is driven by the prolific excellence of designers, craftsmen and state-of-the-art manufacturing facilities.</p>
<p>RGL received the GJPEC Award for "The Largest Exporter of Studded Metal Jewellery" for the 8th time in 2018.</p>
</div>
</div>
<div class="acc-block">
<div class="acc-title">
<h5>GLOBAL FOOTPRINT</h5>
</div>
<div class="acc-description">
<p>A global company with an expansive presence, <b>Renaissance Global Limited</b> is a $375 million dollar company with 8 manufacturing plants in India and Dubai. RGL has sales offices in New York, London, Dubai and Mumbai with a finger on the pulse of the international jewelry retail scene. Not only in the design but also in the manufacturing realm, Renaissance Global Limited has carved an unmatched niche and expertise in the industry.</p>
</div>
</div>
<div class="acc-block">
<div class="acc-title">
<h5>Design</h5>
</div>
<div class="acc-description">
<p>What sets <b>Renaissance Global</b> apart is the ability to offer differentiated luxury lifestyle products with over 150 experienced designers across USA, UK, Hong Kong and Dubai. FY20 saw 3.4 million pieces of jewelry sold.</p>
</div>
</div>
<div class="acc-block">
<div class="acc-title">
<h5>Clients</h5>
</div>
<div class="acc-description">
<p>Clients of the <b>Renaissance Global</b> group include speciality jewelery retailers lie Kendra Scott, Fred Meyer, Helzberg Diamonds, Joyalukas, Malabar and Signet Jewellers.</p>
<p>It also includes department store chains like JC Penney, Macy's and Walmart while being a trusted supplier to catalogue e-commerce and television retailers like Amazon, Argos and Jewellery Television.</p>
</div>
</div>
</div> -->
    <div class="about_last_three_sec">
      <div class="our-clients">
        <h2 class="section-title">Official License</h2>
        <div class="our-official-slider about-us-slider">
          <div>
            <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/Enchanted_LOGO_Final_New_Navy.png?v=1603462442" alt="" />
          </div>
          <div>
            <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/star_wars.png?v=1603462442" alt="" />
          </div>
          <div>
            <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/Hallmark_logo_logotype.png?v=1603462442" alt="" />
          </div>
        </div>
      </div>


      <!--     <div class="our-clients">
<h2 class="section-title">Our Clients</h2>
<div class="our-clients-slider about-us-slider">
<div>
<img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/fredmeyer_1.png?v=1603463324" alt="" />
</div>
<div>
<img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/signet_1.png?v=1603463324" alt="" />
</div>
<div>
<img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/helzberg_1.png?v=1603463324" alt="" />
</div>
<div>
<img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/macys_1.png?v=1603463324" alt="" />
</div>
<div>
<img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/joyalukas_1.png?v=1603463324" alt="" />
</div>
<div>
<img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/helzberg.png?v=1600668696" alt="" />
</div>
</div>
</div> -->

      <div class="our-brands">
        <h2 class="section-title">Our Brands</h2>
        <div class="our-brands-slider about-us-slider">
          <div>
            <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/disney_1.png?v=1603463471" alt="" />
          </div>
          <div>
            <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/jewilili.png?v=1603462874" alt="" />
          </div>
          <div>
            <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/star-wars.png?v=1600668916" alt="" />
          </div>
          <div>
            <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/MFU.png?v=1603462874" alt="" />
          </div>
          <div>
            <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/IRASVA-01.png?v=1603462874" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
