<section class="artical-section" id="artical1">
    <div class="container">
        <h2 class="artical-title">Are Lab-Grown Diamonds for Me?</h2>
        <p>Diamonds have always been regarded as a symbol of everlasting love and affection. Over the years, they’ve
            become everybody’s best friend and their demand has increased. But there have also been several concerns
            regarding the way diamonds are mined and the impact it has on us and the environment. For the conscious
            consumer, lab-grown diamonds are a fabulous alternative. These engineered diamonds are 100% real and are
            lighter on your wallet and your conscience. If you’re wondering what makes lab-grown diamonds the right
            choice for you, let’s take a look at a few facts.</p>
        <div class="banner-img">
            <img data-src="{{ 'Article_page_pic_1_977x486_aa78ebda-8ece-40a7-b5fb-9b4079198eaf.png' | file_img_url: '1024x768' }}"
                alt="" class="lazyload">
        </div>
        <div class="row">
            <div class="col-md-5 order-md-2">
                <img data-src="{{ 'Article_page_pic_2_441x624_4a025d59-3461-4ee2-a59b-8c03209f2db2.png' | file_img_url: '1024x768' }}"
                alt="" class="lazyload">
            </div>
            <div class="col-md-7 pr-40 order-md-1">
                <h5>Sustainable</h5>
                <p>For years we have abused the earth’s fossil fuels and natural resources to satisfy our own needs. Mining,
                    whether for diamonds or coal or any other substance, continues to be one of the most harmful activities
                    for our planet. Apart from taking away land that can be used for a multitude of beneficial reasons, the
                    process itself can cause soil erosion, deforestation and extensive ecosystem destruction. Lab-grown
                    diamonds, on the other hand, do not require extensive displacement of land nor do they directly destroy
                    ecosystems. When you decide to pick a lab-grown diamond over a mined one, you’re doing your little bit
                    to help conserve and preserve the planet without compromising on your quality of life. Remember, we need
                    to make changes today to ensure that we have a tomorrow to look forward to.</p>
                    <h5>Ethical</h5>
                    <p>For many years, people were forced to mine for diamonds in war zones to finance civil wars. These
                        diamonds were called blood diamonds. With lab-grown diamonds, you don’t have to worry about blood
                        diamonds at all since the stones are grown in laboratories. This means there’s almost no question of
                        labour being exploited to mine the diamonds or the stones being used for anything other than to decorate
                        pieces of jewellery. When you opt for a lab-grown stone, you get a beautiful piece of jewellery that is
                        completely conflict-free!
                    </p>
            </div>
        </div>
        <div class="banner-img">
            <img data-src="{{ 'Article_page_pic_3_977x486_46e75660-1b04-4a2e-9b59-27c838a2a0f3.png' | file_img_url: '1024x768' }}"
            alt="" class="lazyload">
        </div>
        <div class="row">
            <div class="col-md-5 order-md-2">
                <strong> if you opt for a lab-grown diamond over a mined one, you can save a lot on your purchase or
                    choose to upgrade your diamond while on the same budget!</strong>
                </div>
            <h5 class="col-md-12">Value for Money</h5>
            <div class="col-md-7 pr-40 order-md-1">
                <p>Lab-grown diamonds offer you incredibly high value for your money. To obtain a natural diamond, large
                    areas of land need to be mined, which requires not just extensive labour but also time. All of this adds
                    up to make a mined diamond very expensive. On the other hand, lab-grown diamonds are grown in
                    laboratories in just a few weeks with minimal human resources required. This cost-benefit is directly
                    transferred to you, making lab-grown diamonds the better option for your wallet. What’s more,</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 order-md-2">
                <img data-src="{{ 'Article_page_pic_4_441x550_ad61d825-96ac-4ce3-b559-7ab899f16ea1.png' | file_img_url: '1024x768' }}"
                    alt="" class="lazyload">
            </div>
            <div class="col-md-7 pr-40 order-md-1">
                <h5>Made for You</h5>
                <p>Each engineered diamond that we choose is for the sole purpose of creating beautiful and unique jewellery
                    for you. When you opt for jewellery with lab-grown diamonds, you know that each diamond has been grown
                    carefully just for you. At Made For You, we have a team of expert craftsmen who ensure that every single
                    lab-grown diamond we use has optimal brilliance and shine. We go above and beyond to make sure that
                    every diamond we place in your jewellery sparkles and shines as brightly as you do.</p>
                <p>Honestly, there’s no downside to owning a lab-grown diamond. Apart from being certified as the real deal,
                    these diamonds are also lighter on your pocket, while keeping your conscience completely guilt-free.
                    When you choose a lab-grown diamond, you’re picking the better option for yourself, the environment and
                    future generations. So, the next time you want to treat yourself or mark an important milestone, make
                    the right choice and celebrate with a lab-grown diamond!</p>
            </div>
        </div>
        <div class="artical-pagination">
            <div class="float-left">
                <p>previous article</p>
                <a href="/pages/what-are-lab-grown-diamonds-are-they-real">What Are Lab-Grown Diamonds? Are They Real?</a>
            </div>
            <div class="float-right text-right">
                <p>next article</p>
                <a href="/pages/how-can-i-be-sure-of-the-quality-of-my-lab-grown-diamond">How Can I Be Sure of the Quality of My Lab-Grown Diamond?</a>
            </div> 
        </div>
    </div>
</section>