<section class="artical-section" id="artical1">
    <div class="container">
        <h2 class="artical-title">How Can I Be Sure of the Quality of My Lab-Grown Diamond?</h2>
        <p>When you decide to purchase a diamond, it’s generally to mark an important milestone in your life. You may have just earned your first salary, or you might even be picking out a diamond ring for your engagement. Whatever the reason, the purchase of a diamond can be an emotional affair. And while it is easy to get caught up in the moment, it’s vital that you ensure that the diamond you get is the diamond you’ve paid for. But, without the requisite knowledge or technical knowhow, how do you know if the diamond you’ve been given is actually the right weight, cut or clarity that you’ve asked for?</p>
        <div class="banner-img">
            <img data-src="{{ 'Article_page_pic_1_977x486_aa78ebda-8ece-40a7-b5fb-9b4079198eaf.png' | file_img_url: '1024x768' }}"
                alt="" class="lazyload">
        </div>
        <div class="row">
            <div class="col-md-5 order-md-2">
                <img data-src="{{ 'Article_page_pic_2_441x624_4a025d59-3461-4ee2-a59b-8c03209f2db2.png' | file_img_url: '1024x768' }}"
                alt="" class="lazyload">
            </div>
            <div class="col-md-7 pr-40 order-md-1">
                <h5>Diamonds – Now Certified</h5>
                <p>The simple answer is, with certifications. Today, diamond jewellery always comes with a certificate that states how many diamonds are in the piece of jewellery, what the weight, colour grade or clarity rating of each diamond is, as well as details on how the diamonds have been set. Certifications have been used for mined diamonds for several years now, providing people with proof that their diamond has been graded and classified by an expert gemmologist and that they are receiving exactly what they have asked for. Additionally, these certificates also spoke about the ‘origin’ of the mined diamond. This was done specifically to assure people that their diamonds were conflict-free and were not a product of the blood diamond trade.</p>
                    <h5>Certifications for Lab-Grown Diamonds</h5>
                    <p>Even though the origins of lab-grown diamonds are not being questioned, these engineered diamonds also require some form of certification to prove their authenticity. The certificates provided with lab-grown diamond jewellery assure you that your diamonds have been graded by expert gemmologists and that they are the same cut, colour, clarity and weight that you have asked and paid for.
                    </p>
            </div>
        </div>
        <div class="banner-img">
            <img data-src="{{ 'Article_page_pic_3_977x486_46e75660-1b04-4a2e-9b59-27c838a2a0f3.png' | file_img_url: '1024x768' }}"
            alt="" class="lazyload">
        </div>
        <div class="row">
            <div class="col-md-5 order-md-2">
                <img data-src="{{ 'Article_page_pic_4_441x550_ad61d825-96ac-4ce3-b559-7ab899f16ea1.png' | file_img_url: '1024x768' }}"
                    alt="" class="lazyload">
            </div>
            <div class="col-md-7 pr-40 order-md-1">
                <h5>Certified Diamonds from Made For You</h5>
                <p>Whenever you purchase a piece of jewellery from Made For You, you will receive a certificate of authenticity from Gemological Science International (GSI). GSI has created a modern, state-of-the-art diamond grading lab that takes advantage of the latest breakthroughs in diamond grading. Their cutting-edge technology and automation eliminates any chances of human error and ensures that the diamonds are graded to the highest standards. Your Laboratory Grown Diamond Report will include the weight, shape, color, clarity, measurements, and photo of a diamond and/or jewelry article. 
                </p>
                <p>Whenever you decide to purchase diamond jewellery, remember to ask for the diamond certification first. Check it thoroughly to ensure that the cut, carat, colour and clarity are exactly what you’ve asked for. If you’d like to learn more about how our diamonds are graded or classified, you can reach out to our diamond experts.</p>
            </div>
        </div>
        <div class="artical-pagination">
            <div class="float-left">
                <p>previous article</p>
                <a href="/pages/two-ways-of-creating-lab-grown-diamonds">Are Lab-Grown Diamonds for Me?</a>
            </div>
            <div class="float-right text-right">
                <p>next article</p>
                <a href="/pages/lab-grown-diamonds-the-science-behind-the-process">Lab-Grown Diamonds – The Science Behind the Process</a>
            </div> 
        </div>
    </div>
</section>