<div class="footer-top-div custom__footer">
  <div class="page-width">
    <div class="footer_top_content">
      <h3>Popular Searches</h3>
      {% if collection.handle  == 'anikas-diamond-jewelry-collection' %}
      <ul>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-rings">Diamond Rings by Anika</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-necklaces-pendants">Diamond Necklaces by Anika</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-earrings">Diamond Earrings by Anika</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-bracelets">Diamond Bracelets by Anika</a></li>
        <li><a href="/collections/anikas-sustainable-bracelet-charms">Charms by Anika</a></li>
        <li><a href="/collections/anikas-earth-sky-diamond-jewelry">Earth & Sky Collection by Anika</a></li>
        <li><a href="/collections/anikas-seed">Seed Collection by Anika</a></li>
        <li><a href="/collections/lab-grown-diamond-engagement-rings">Lab-created Diamond Engagement Rings</a></li>
        <li><a href="/collections/anikas-diamond-jewelry-collection">MFU X Anika</a></li>
        <li><a href="/collections/lab-grown-diamond-rings">Lab-created Diamond Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-earrings">Lab-created Diamond Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-necklaces-pendants">Lab-created Diamond Pendants</a></li>
      </ul>
      
      {% elsif collection.handle == 'mfy-x-anika-lab-grown-diamond-rings' %}
      <ul>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-necklaces-pendants">Diamond Necklaces by Anika</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-earrings">Diamond Earrings by Anika</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-bracelets">Diamond Bracelets by Anika </a></li>
        <li><a href="/collections/anikas-sustainable-bracelet-charms">Charms by Anika</a></li>
        <li><a href="/collections/anikas-earth-sky-diamond-jewelry">Earth & Sky Collection by Anika</a></li>
        <li><a href="/collections/anikas-seed">Seed Collection by Anika</a></li>
        <li><a href="/collections/lab-grown-diamond-engagement-rings">Lab-created Diamond Engagement Rings</a></li>
        <li><a href="/collections/anikas-diamond-jewelry-collection">MFU X Anika</a></li>
        <li><a href="/collections/lab-grown-diamond-rings">Lab-created Diamond Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-earrings">Lab-created Diamond Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-necklaces-pendants">Lab-created Diamond Pendants</a></li>
        <li><a href="/collections/lab-grown-diamond-hoop-earrings">Lab-created Diamond Hoop Earrings</a></li>
      </ul>
      
      {% elsif collection.handle == 'mfy-x-anika-lab-grown-diamond-necklaces-pendants' %}
      <ul>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-rings">Diamond Rings by Anika</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-earrings">Diamond Earrings by Anika</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-bracelets">Diamond Bracelets by Anika</a></li>
        <li><a href="/collections/anikas-sustainable-bracelet-charms">Charms by Anika</a></li>
        <li><a href="/collections/anikas-earth-sky-diamond-jewelry">Earth & Sky Collection by Anika</a></li>
        <li><a href="/collections/anikas-seed">Seed Collection by Anika</a></li>
        <li><a href="/collections/lab-grown-diamond-engagement-rings">Lab-created Diamond Engagement Rings</a></li>
        <li><a href="/collections/anikas-diamond-jewelry-collection">MFU X Anika</a></li>
        <li><a href="/collections/lab-grown-diamond-rings">Lab-created Diamond Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-earrings">Lab-created Diamond Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-necklaces-pendants">Lab-created Diamond Pendants</a></li>
        <li><a href="/collections/lab-grown-diamond-hoop-earrings">Lab-created Diamond Hoop Earrings</a></li>
      </ul>
      
      {% elsif collection.handle == 'mfy-x-anika-lab-grown-diamond-earrings' %}
      <ul>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-rings">Diamond Rings by Anika</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-necklaces-pendants">Diamond Necklaces by Anika</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-bracelets">Diamond Bracelets by Anika</a></li>
        <li><a href="/collections/anikas-sustainable-bracelet-charms">Charms by Anika</a></li>
        <li><a href="/collections/anikas-earth-sky-diamond-jewelry">Earth & Sky Collection by Anika</a></li>
        <li><a href="/collections/anikas-seed">Seed Collection by Anika</a></li>
        <li><a href="/collections/lab-grown-diamond-engagement-rings">Lab-created Diamond Engagement Rings</a></li>
        <li><a href="/collections/anikas-diamond-jewelry-collection">MFU X Anika</a></li>
        <li><a href="/collections/lab-grown-diamond-rings">Lab-created Diamond Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-earrings">Lab-created Diamond Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-necklaces-pendants">Lab-created Diamond Pendants</a></li>
        <li><a href="/collections/lab-grown-diamond-hoop-earrings">Lab-created Diamond Hoop Earrings</a></li>
      </ul>
      
      {% elsif collection.handle == 'mfy-x-anika-lab-grown-diamond-bracelets' %}
      <ul>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-rings">Diamond Rings by Anika</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-necklaces-pendants">Diamond Necklaces by Anika</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-earrings">Diamond Earrings by Anika</a></li>
        <li><a href="/collections/anikas-sustainable-bracelet-charms">Charms by Anika</a></li>
        <li><a href="/collections/anikas-earth-sky-diamond-jewelry">Earth & Sky Collection by Anika</a></li>
        <li><a href="/collections/anikas-seed">Seed Collection by Anika</a></li>
        <li><a href="/collections/lab-grown-diamond-engagement-rings">Lab-created Diamond Engagement Rings</a></li>
        <li><a href="/collections/anikas-diamond-jewelry-collection">MFU X Anika</a></li>
        <li><a href="/collections/lab-grown-diamond-rings">Lab-created Diamond Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-earrings">Lab-created Diamond Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-necklaces-pendants">Lab-created Diamond Pendants</a></li>
        <li><a href="/collections/lab-grown-diamond-hoop-earrings">Lab-created Diamond Hoop Earrings</a></li>
      </ul>
      
      {% elsif collection.handle == 'anikas-sustainable-bracelet-charms' %}
      <ul>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-rings">Diamond Rings by Anika</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-necklaces-pendants">Diamond Necklaces by Anika</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-earrings">Diamond Earrings by Anika</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-bracelets">Diamond Bracelets by Anika</a></li>
        <li><a href="/collections/anikas-earth-sky-diamond-jewelry">Earth & Sky Collection by Anika</a></li>
        <li><a href="/collections/anikas-seed">Seed Collection by Anika</a></li>
        <li><a href="/collections/lab-grown-diamond-engagement-rings">Lab-created Diamond Engagement Rings</a></li>
        <li><a href="/collections/anikas-diamond-jewelry-collection">MFU X Anika</a></li>
        <li><a href="/collections/lab-grown-diamond-rings">Lab-created Diamond Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-earrings">Lab-created Diamond Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-necklaces-pendants">Lab-created Diamond Pendants</a></li>
        <li><a href="/collections/lab-grown-diamond-hoop-earrings">Lab-created Diamond Hoop Earrings</a></li>
      </ul>
      
      {% elsif collection.handle == 'anikas-earth-sky-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-rings">Diamond Rings by Anika</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-necklaces-pendants">Diamond Necklaces by Anika</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-earrings">Diamond Earrings by Anika</a></li>
        <li><a href="/collections/anikas-sustainable-bracelet-charms">Charms by Anika</a></li>
        <li><a href="/collections/anikas-earth-sky-diamond-jewelry">Earth & Sky Collection by Anika</a></li>
        <li><a href="/collections/anikas-seed">Seed Collection by Anika</a></li>
        <li><a href="/collections/lab-grown-diamond-engagement-rings">Lab-created Diamond Engagement Rings</a></li>
        <li><a href="/collections/anikas-diamond-jewelry-collection">MFU X Anika</a></li>
        <li><a href="/collections/lab-grown-diamond-rings">Lab-created Diamond Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-earrings">Lab-created Diamond Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-necklaces-pendants">Lab-created Diamond Pendants</a></li>
        <li><a href="/collections/lab-grown-diamond-tennis-bracelets">Lab-created Diamond Tennis Bracelets</a></li>
      </ul>
      
      {% elsif collection.handle == 'anikas-seed' %}
      <ul>
        <li><a href="/collections/anikas-earth-sky-diamond-jewelry">Earth & Sky Collection by Anika</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-rings">Diamond Rings by Anika</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-necklaces-pendants">Diamond Necklaces by Anika</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-earrings">Diamond Earrings by Anika</a></li>
        <li><a href="/collections/anikas-sustainable-bracelet-charms">Charms by Anika</a></li>
        <li><a href="/collections/lab-grown-diamond-hoop-earrings">Lab-created Diamond Hoop Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-engagement-rings">Lab-created Diamond Engagement Rings</a></li>
        <li><a href="/collections/anikas-diamond-jewelry-collection">MFU X Anika</a></li>
        <li><a href="/collections/lab-grown-diamond-rings">Lab-created Diamond Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-earrings">Lab-created Diamond Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-necklaces-pendants">Lab-created Diamond Pendants</a></li>
        <li><a href="/collections/lab-grown-diamond-tennis-bracelets">Lab-created Diamond Tennis Bracelets</a></li>
      </ul>
      
      {% elsif collection.handle == 'lab-grown-diamond-rings' %}
      <ul>
        <li><a href="/collections/lab-grown-diamond-illusion-rings">Illusion Diamond Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-engagement-rings">Lab-created Engagement Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-eternity-rings">Lab-created Diamond Eternity Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-statement-rings">Lab-created Diamond Sparkle Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-heart-rings">Lab-created Diamond Heart Rings</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-rings">Lab-created Diamond Rings by Anika</a></li>
        <li><a href="/collections/lab-grown-diamond-necklaces-pendants">Lab-created Diamond Pendants</a></li>
        <li><a href="/collections/lab-grown-diamond-earrings">Lab-created Diamond Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-bracelets-bangles">Lab-grown Diamond Bracelets</a></li>
        <li><a href="/collections/lab-grown-diamond-stud-earrings">Lab-grown Diamond Stud Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-cluster-earrings">Lab-grown Diamond Dangle Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-heart-pendants-necklaces">Lab-created Diamond Heart Pendants</a></li>
      </ul>
      
      {% elsif collection.handle == 'lab-grown-diamond-illusion-rings' %}
      <ul>
        <li><a href="/collections/lab-grown-diamond-engagement-rings">Lab-created Engagement Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-eternity-rings">Lab-created Diamond Eternity Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-statement-rings">Lab-created Diamond Sparkle Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-heart-rings">Lab-created Diamond Heart Rings</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-rings">Lab-created Diamond Rings by Anika</a></li>
        <li><a href="/collections/lab-grown-diamond-necklaces-pendants">Lab-created Diamond Pendants</a></li>
        <li><a href="/collections/lab-grown-diamond-earrings">Lab-created Diamond Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-bracelets-bangles">Lab-grown Diamond Bracelets</a></li>
        <li><a href="/collections/lab-grown-diamond-stud-earrings">Lab-grown Diamond Stud Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-cluster-earrings">Lab-grown Diamond Dangle Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-heart-pendants-necklaces">Lab-created Diamond Heart Pendants</a></li>
        <li><a href="/collections/lab-grown-diamond-cross-pendants-necklaces">Lab-grown Diamond Cross Pendants</a></li>
      </ul>
      
      {% elsif collection.handle == 'lab-grown-diamond-engagement-rings' %}
      <ul>
        <li><a href="/collections/lab-grown-diamond-illusion-rings">Illusion Diamond Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-eternity-rings">Lab-created Diamond Eternity Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-statement-rings">Lab-created Diamond Sparkle Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-heart-rings">Lab-created Diamond Heart Rings</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-rings">Lab-created Diamond Rings by Anika</a></li>
        <li><a href="/collections/lab-grown-diamond-necklaces-pendants">Lab-created Diamond Pendants</a></li>
        <li><a href="/collections/lab-grown-diamond-earrings">Lab-created Diamond Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-bracelets-bangles">Lab-grown Diamond Bracelets</a></li>
        <li><a href="/collections/lab-grown-diamond-stud-earrings">Lab-grown Diamond Stud Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-cluster-earrings">Lab-grown Diamond Dangle Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-heart-pendants-necklaces">Lab-created Diamond Heart Pendants</a></li>
        <li><a href="/collections/lab-grown-diamond-cross-pendants-necklaces">Lab-grown Diamond Cross Pendants</a></li>
      </ul>
      
      {% elsif collection.handle == 'lab-grown-diamond-eternity-rings' %}
      <ul>
        <li><a href="/collections/lab-grown-diamond-illusion-rings">Illusion Diamond Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-engagement-rings">Lab-created Engagement Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-statement-rings">Lab-created Diamond Sparkle Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-heart-rings">Lab-created Diamond Heart Rings</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-rings">Lab-created Diamond Rings by Anika</a></li>
        <li><a href="/collections/lab-grown-diamond-necklaces-pendants">Lab-created Diamond Pendants</a></li>
        <li><a href="/collections/lab-grown-diamond-earrings">Lab-created Diamond Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-bracelets-bangles">Lab-grown Diamond Bracelets</a></li>
        <li><a href="/collections/lab-grown-diamond-stud-earrings">Lab-grown Diamond Stud Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-cluster-earrings">Lab-grown Diamond Dangle Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-heart-pendants-necklaces">Lab-created Diamond Heart Pendants</a></li>
        <li><a href="/collections/lab-grown-diamond-cross-pendants-necklaces">Lab-grown Diamond Cross Pendants</a></li>
      </ul>
      
      {% elsif collection.handle == 'lab-grown-diamond-statement-rings' %}
      <ul>
        <li><a href="/collections/lab-grown-diamond-illusion-rings">Illusion Diamond Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-engagement-rings">Lab-created Engagement Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-eternity-rings">Lab-created Diamond Eternity Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-heart-rings">Lab-created Diamond Heart Rings</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-rings">Lab-created Diamond Rings by Anika</a></li>
        <li><a href="/collections/lab-grown-diamond-necklaces-pendants">Lab-created Diamond Pendants</a></li>
        <li><a href="/collections/lab-grown-diamond-earrings">Lab-created Diamond Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-bracelets-bangles">Lab-grown Diamond Bracelets</a></li>
        <li><a href="/collections/lab-grown-diamond-stud-earrings">Lab-grown Diamond Stud Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-cluster-earrings">Lab-grown Diamond Dangle Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-heart-pendants-necklaces">Lab-created Diamond Heart Pendants</a></li>
        <li><a href="/collections/lab-grown-diamond-cross-pendants-necklaces">Lab-grown Diamond Cross Pendants</a></li>
      </ul>
      
      {% elsif collection.handle == 'lab-grown-diamond-heart-rings' %}
      <ul>
        <li><a href="/collections/lab-grown-diamond-statement-rings">Lab-created Diamond Sparkle Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-illusion-rings">Illusion Diamond Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-engagement-rings">Lab-created Engagement Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-eternity-rings">Lab-created Diamond Eternity Rings</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-rings">Lab-created Diamond Rings by Anika</a></li>
        <li><a href="/collections/lab-grown-diamond-necklaces-pendants">Lab-created Diamond Pendants</a></li>
        <li><a href="/collections/lab-grown-diamond-earrings">Lab-created Diamond Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-bracelets-bangles">Lab-grown Diamond Bracelets</a></li>
        <li><a href="/collections/lab-grown-diamond-stud-earrings">Lab-grown Diamond Stud Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-cluster-earrings">Lab-grown Diamond Dangle Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-heart-pendants-necklaces">Lab-created Diamond Heart Pendants</a></li>
        <li><a href="/collections/lab-grown-diamond-cross-pendants-necklaces">Lab-grown Diamond Cross Pendants</a></li>
      </ul>
      
      {% elsif collection.handle == 'lab-grown-diamond-necklaces-pendants' %}
      <ul>
        <li><a href="/collections/necklaces-charms">Lab-created Diamond Charm Necklaces </a></li>
        <li><a href="/collections/lab-grown-diamond-cluster-necklaces-pendants">Lab-created Center Piece Necklaces</a></li>
        <li><a href="/collections/three-stone-lab-grown-diamond-necklace-pendants">Lab-grown Diamond 3 Stone Pendants</a></li>
        <li><a href="/collections/lab-grown-diamond-heart-pendants-necklaces">Lab-grown Diamond Heart Pendants</a></li>
        <li><a href="/collections/lab-grown-diamond-cross-pendants-necklaces">Lab-created Diamond Cross Pendants</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-necklaces-pendants">Lab-grown Diamond Necklaces by Anika</a></li>
        <li><a href="/collections/lab-grown-diamond-tennis-bracelets">Lab-grown Diamond Tennis Bracelets</a></li>
        <li><a href="/collections/lab-grown-diamond-bolo-bracelets">Lab-grown Diamond Bolo Bracelets</a></li>
        <li><a href="/collections/lab-grown-diamond-engagement-rings">Lab-grown Diamond Engagement Rings</a></li>
        <li><a href="/collections/anikas-earth-sky-diamond-jewelry">Earth & Sky Jewelry Collection</a></li>
        <li><a href="/collections/anikas-seed">Anika’s Diamond Seed Collection</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-earrings">Lab-grown Diamond Earrings by Anika</a></li>
      </ul>
      
      {% elsif collection.handle == 'necklaces-charms' %}
      <ul>
        <li><a href="/collections/lab-grown-diamond-cluster-necklaces-pendants">Lab-created Center Piece Necklaces</a></li>
        <li><a href="/collections/three-stone-lab-grown-diamond-necklace-pendants">Lab-grown Diamond 3 Stone Pendants</a></li>
        <li><a href="/collections/lab-grown-diamond-heart-pendants-necklaces">Lab-grown Diamond Heart Pendants</a></li>
        <li><a href="/collections/lab-grown-diamond-cross-pendants-necklaces">Lab-created Diamond Cross Pendants</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-necklaces-pendants">Lab-grown Diamond Necklaces by Anika</a></li>
        <li><a href="/collections/lab-grown-diamond-tennis-bracelets">Lab-grown Diamond Tennis Bracelets</a></li>
        <li><a href="/collections/lab-grown-diamond-bolo-bracelets">Lab-grown Diamond Bolo Bracelets</a></li>
        <li><a href="/collections/lab-grown-diamond-engagement-rings">Lab-grown Diamond Engagement Rings</a></li>
        <li><a href="/collections/anikas-earth-sky-diamond-jewelry">Earth & Sky Jewelry Collection</a></li>
        <li><a href="/collections/anikas-seed">Anika’s Diamond Seed Collection</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-earrings">Lab-grown Diamond Earrings by Anika</a></li>
        <li><a href="/collections/lab-grown-diamond-stud-earrings">Diamond Stud Earrings</a></li>
      </ul>
      
      {% elsif collection.handle == 'lab-grown-diamond-cluster-necklaces-pendants' %}
      <ul>
        <li><a href="/collections/necklaces-charms">Lab-created Diamond Charm Necklaces </a></li>
        <li><a href="/collections/three-stone-lab-grown-diamond-necklace-pendants">Lab-grown Diamond 3 Stone Pendants</a></li>
        <li><a href="/collections/lab-grown-diamond-heart-pendants-necklaces">Lab-grown Diamond Heart Pendants</a></li>
        <li><a href="/collections/lab-grown-diamond-cross-pendants-necklaces">Lab-created Diamond Cross Pendants</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-necklaces-pendants">Lab-grown Diamond Necklaces by Anika</a></li>
        <li><a href="/collections/lab-grown-diamond-tennis-bracelets">Lab-grown Diamond Tennis Bracelets</a></li>
        <li><a href="/collections/lab-grown-diamond-bolo-bracelets">Lab-grown Diamond Bolo Bracelets</a></li>
        <li><a href="/collections/lab-grown-diamond-engagement-rings">Lab-grown Diamond Engagement Rings</a></li>
        <li><a href="/collections/anikas-earth-sky-diamond-jewelry">Earth & Sky Jewelry Collection</a></li>
        <li><a href="/collections/anikas-seed">Anika’s Diamond Seed Collection</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-earrings">Lab-grown Diamond Earrings by Anika</a></li>
        <li><a href="/collections/lab-grown-diamond-stud-earrings">Diamond Stud Earrings</a></li>
      </ul>
      
      {% elsif collection.handle == 'three-stone-lab-grown-diamond-necklace-pendants' %}
      <ul>
        <li><a href="/collections/necklaces-charms">Lab-created Diamond Charm Necklaces </a></li>
        <li><a href="/collections/lab-grown-diamond-cluster-necklaces-pendants">Lab-created Center Piece Necklaces</a></li>
        <li><a href="/collections/lab-grown-diamond-heart-pendants-necklaces">Lab-grown Diamond Heart Pendants</a></li>
        <li><a href="/collections/lab-grown-diamond-cross-pendants-necklaces">Lab-created Diamond Cross Pendants</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-necklaces-pendants">Lab-grown Diamond Necklaces by Anika</a></li>
        <li><a href="/collections/lab-grown-diamond-tennis-bracelets">Lab-grown Diamond Tennis Bracelets</a></li>
        <li><a href="/collections/lab-grown-diamond-bolo-bracelets">Lab-grown Diamond Bolo Bracelets</a></li>
        <li><a href="/collections/lab-grown-diamond-engagement-rings">Lab-grown Diamond Engagement Rings</a></li>
        <li><a href="/collections/anikas-earth-sky-diamond-jewelry">Earth & Sky Jewelry Collection</a></li>
        <li><a href="/collections/anikas-seed">Anika’s Diamond Seed Collection</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-earrings">Lab-grown Diamond Earrings by Anika</a></li>
        <li><a href="/collections/lab-grown-diamond-stud-earrings">Diamond Stud Earrings</a></li>
      </ul>
      
      {% elsif collection.handle == 'lab-grown-diamond-heart-pendants-necklaces' %}
      <ul>
        <li><a href="/collections/necklaces-charms">Lab-created Diamond Charm Necklaces </a></li>
        <li><a href="/collections/lab-grown-diamond-cluster-necklaces-pendants">Lab-created Center Piece Necklaces</a></li>
        <li><a href="/collections/three-stone-lab-grown-diamond-necklace-pendants">Lab-grown Diamond 3 Stone Pendants</a></li>
        <li><a href="/collections/lab-grown-diamond-cross-pendants-necklaces">Lab-created Diamond Cross Pendants</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-necklaces-pendants">Lab-grown Diamond Necklaces by Anika</a></li>
        <li><a href="/collections/lab-grown-diamond-tennis-bracelets">Lab-grown Diamond Tennis Bracelets</a></li>
        <li><a href="/collections/lab-grown-diamond-bolo-bracelets">Lab-grown Diamond Bolo Bracelets</a></li>
        <li><a href="/collections/lab-grown-diamond-engagement-rings">Lab-grown Diamond Engagement Rings</a></li>
        <li><a href="/collections/anikas-earth-sky-diamond-jewelry">Earth & Sky Jewelry Collection</a></li>
        <li><a href="/collections/anikas-seed">Anika’s Diamond Seed Collection</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-earrings">Lab-grown Diamond Earrings by Anika</a></li>
        <li><a href="/collections/lab-grown-diamond-stud-earrings">Diamond Stud Earrings</a></li>
      </ul>
      
      {% elsif collection.handle == 'lab-grown-diamond-cross-pendants-necklaces' %}
      <ul>
        <li><a href="/collections/necklaces-charms">Lab-created Diamond Charm Necklaces </a></li>
        <li><a href="/collections/lab-grown-diamond-cluster-necklaces-pendants">Lab-created Center Piece Necklaces</a></li>
        <li><a href="/collections/three-stone-lab-grown-diamond-necklace-pendants">Lab-grown Diamond 3 Stone Pendants</a></li>
        <li><a href="/collections/lab-grown-diamond-heart-pendants-necklaces">Lab-grown Diamond Heart Pendants</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-necklaces-pendants">Lab-grown Diamond Necklaces by Anika</a></li>
        <li><a href="/collections/lab-grown-diamond-tennis-bracelets">Lab-grown Diamond Tennis Bracelets</a></li>
        <li><a href="/collections/lab-grown-diamond-bolo-bracelets">Lab-grown Diamond Bolo Bracelets</a></li>
        <li><a href="/collections/lab-grown-diamond-engagement-rings">Lab-grown Diamond Engagement Rings</a></li>
        <li><a href="/collections/anikas-earth-sky-diamond-jewelry">Earth & Sky Jewelry Collection</a></li>
        <li><a href="/collections/anikas-seed">Anika’s Diamond Seed Collection</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-earrings">Lab-grown Diamond Earrings by Anika</a></li>
        <li><a href="/collections/lab-grown-diamond-stud-earrings">Diamond Stud Earrings</a></li>
      </ul>
      
      {% elsif collection.handle == 'lab-grown-diamond-earrings' %}
      <ul>
        <li><a href="/collections/lab-grown-diamond-earrings">Lab-grown Diamond Hoops</a></li>
        <li><a href="/collections/lab-grown-diamond-heart-earrings">Lab-grown Diamond Heart Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-stud-earrings">Diamond Stud Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-cluster-earrings">Lab-grown Diamond Dangle Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-three-stone-earrings">Lab-grown Diamond Cuffs</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-earrings">Lab-grown Diamond Earrings by Anika</a></li>
        <li><a href="/collections/anikas-earth-sky-diamond-jewelry">Earth & Sky Jewelry Collection</a></li>
        <li><a href="/collections/anikas-seed">Seed Collection by Anika</a></li>
        <li><a href="/collections/lab-grown-diamond-engagement-rings">Lab-created Diamond Engagement Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-eternity-rings">Lab-grown Diamond Wedding Bands</a></li>
        <li><a href="/collections/lab-grown-diamond-bolo-bracelets">Lab-created Diamond Bolo Bracelets</a></li>
      </ul>
      
      {% elsif collection.handle == 'lab-grown-diamond-hoop-earrings' %}
      <ul>
        <li><a href="/collections/lab-grown-diamond-heart-earrings">Lab-grown Diamond Heart Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-stud-earrings">Lab-grown Diamond Stud Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-cluster-earrings">Lab-grown Diamond Dangle Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-three-stone-earrings">Lab-grown Diamond Cuffs</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-earrings">Lab-grown Diamond Earrings by Anika</a></li>
        <li><a href="/collections/anikas-sustainable-bracelet-charms">Lab-grown Diamond Charms by Anika</a></li>
        <li><a href="/collections/anikas-earth-sky-diamond-jewelry">Earth & Sky Collection by Anika</a></li>
        <li><a href="/collections/anikas-seed">Seed Collection by Anika</a></li>
        <li><a href="/collections/lab-grown-diamond-engagement-rings">Lab-created Diamond Engagement Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-eternity-rings">Lab-grown Diamond Wedding Bands</a></li>
        <li><a href="/collections/lab-grown-diamond-bolo-bracelets">Lab-created Diamond Bolo Bracelets</a></li>
        <li><a href="/collections/lab-grown-diamond-cross-pendants-necklaces">Lab-created Diamond Cross Pendants</a></li>
      </ul>
      
      {% elsif collection.handle == 'lab-grown-diamond-heart-earrings' %}
      <ul>
        <li><a href="/collections/lab-grown-diamond-stud-earrings">Lab-grown Diamond Stud Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-cluster-earrings">Lab-grown Diamond Dangle Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-three-stone-earrings">Lab-grown Diamond Cuffs</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-earrings">Lab-grown Diamond Earrings by Anika</a></li>
        <li><a href="/collections/anikas-sustainable-bracelet-charms">Lab-grown Diamond Charms by Anika</a></li>
        <li><a href="/collections/anikas-earth-sky-diamond-jewelry">Earth & Sky Collection by Anika</a></li>
        <li><a href="/collections/anikas-seed">Seed Collection by Anika</a></li>
        <li><a href="/collections/lab-grown-diamond-engagement-rings">Lab-created Diamond Engagement Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-eternity-rings">Lab-grown Diamond Wedding Bands</a></li>
        <li><a href="/collections/lab-grown-diamond-bolo-bracelets">Lab-created Diamond Bolo Bracelets</a></li>
        <li><a href="/collections/lab-grown-diamond-tennis-bracelets">Lab-grown Diamond Tennis Bracelets</a></li>
        <li><a href="/collections/lab-grown-diamond-cross-pendants-necklaces">Lab-created Diamond Cross Pendants</a></li>
      </ul>
      
      {% elsif collection.handle == 'lab-grown-diamond-stud-earrings' %}
      <ul>
        <li><a href="/collections/lab-grown-diamond-heart-earrings">Lab-grown Diamond Heart Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-cluster-earrings">Lab-grown Diamond Dangle Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-three-stone-earrings">Lab-grown Diamond Cuffs</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-earrings">Lab-grown Diamond Earrings by Anika</a></li>
        <li><a href="/collections/anikas-sustainable-bracelet-charms">Lab-grown Diamond Charms by Anika</a></li>
        <li><a href="/collections/anikas-earth-sky-diamond-jewelry">Earth & Sky Collection by Anika</a></li>
        <li><a href="/collections/anikas-seed">Seed Collection by Anika</a></li>
        <li><a href="/collections/lab-grown-diamond-engagement-rings">Lab-created Diamond Engagement Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-eternity-rings">Lab-grown Diamond Wedding Bands</a></li>
        <li><a href="/collections/lab-grown-diamond-bolo-bracelets">Lab-created Diamond Bolo Bracelets</a></li>
        <li><a href="/collections/lab-grown-diamond-tennis-bracelets">Lab-grown Diamond Tennis Bracelets</a></li>
        <li><a href="/collections/lab-grown-diamond-cross-pendants-necklaces">Lab-created Diamond Cross Pendants</a></li>
      </ul>

      {% elsif collection.handle == 'lab-grown-diamond-cluster-earrings' %}
      <ul>
        <li><a href="/collections/lab-grown-diamond-heart-earrings">Lab-grown Diamond Heart Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-stud-earrings">Lab-grown Diamond Stud Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-three-stone-earrings">Lab-grown Diamond Cuffs</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-earrings">Lab-grown Diamond Earrings by Anika</a></li>
        <li><a href="/collections/anikas-sustainable-bracelet-charms">Lab-grown Diamond Charms by Anika</a></li>
        <li><a href="/collections/anikas-earth-sky-diamond-jewelry">Earth & Sky Collection by Anika</a></li>
        <li><a href="/collections/anikas-seed">Seed Collection by Anika</a></li>
        <li><a href="/collections/lab-grown-diamond-engagement-rings">Lab-created Diamond Engagement Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-eternity-rings">Lab-grown Diamond Wedding Bands</a></li>
        <li><a href="/collections/lab-grown-diamond-bolo-bracelets">Lab-created Diamond Bolo Bracelets</a></li>
        <li><a href="/collections/lab-grown-diamond-tennis-bracelets">Lab-grown Diamond Tennis Bracelets</a></li>
        <li><a href="/collections/lab-grown-diamond-cross-pendants-necklaces">Lab-created Diamond Cross Pendants</a></li>
      </ul>

      {% elsif collection.handle == 'lab-grown-diamond-three-stone-earrings' %}
      <ul>
        <li><a href="/collections/lab-grown-diamond-heart-earrings">Lab-grown Diamond Heart Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-stud-earrings">Lab-grown Diamond Stud Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-cluster-earrings">Lab-grown Diamond Dangle Earrings</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-earrings">Lab-grown Diamond Earrings by Anika</a></li>
        <li><a href="/collections/anikas-sustainable-bracelet-charms">Lab-grown Diamond Charms by Anika</a></li>
        <li><a href="/collections/anikas-earth-sky-diamond-jewelry">Earth & Sky Collection by Anika</a></li>
        <li><a href="/collections/anikas-seed">Seed Collection by Anika</a></li>
        <li><a href="/collections/lab-grown-diamond-engagement-rings">Lab-created Diamond Engagement Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-eternity-rings">Lab-grown Diamond Wedding Bands</a></li>
        <li><a href="/collections/lab-grown-diamond-bolo-bracelets">Lab-created Diamond Bolo Bracelets</a></li>
        <li><a href="/collections/lab-grown-diamond-tennis-bracelets">Lab-grown Diamond Tennis Bracelets</a></li>
        <li><a href="/collections/lab-grown-diamond-cross-pendants-necklaces">Lab-created Diamond Cross Pendants</a></li>
      </ul>

      {% elsif collection.handle == 'lab-grown-diamond-bracelets-bangles' %}
      <ul>
        <li><a href="/collections/lab-grown-diamond-tennis-bracelets">Lab-grown Diamond Tennis Bracelets</a></li>
        <li><a href="/collections/lab-grown-diamond-bolo-bracelets">Lab-created Diamond Bolo Bracelets</a></li>
        <li><a href="/collections/lab-grown-diamond-classic-bracelets">Lab-created Diamond Line Bracelets</a></li>
        <li><a href="/collections/lab-grown-diamond-chain-bracelets">Lab-created Diamond Chain Bracelet</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-bracelets">Anika’s Lab-grown Diamond Bracelets</a></li>
        <li><a href="/collections/anikas-sustainable-bracelet-charms">Lab-grown Diamond Charms</a></li>
        <li><a href="/collections/anikas-earth-sky-diamond-jewelry">Anika’s Earth & Sky Collection</a></li>
        <li><a href="/collections/anikas-seed">Anika’s Seed Collection</a></li>
        <li><a href="/collections/lab-grown-diamond-rings">Lab-grown Diamond Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-engagement-rings">Lab-grown Diamond Engagement Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-necklaces-pendants">Lab-grown Diamond Necklaces</a></li>
        <li><a href="/collections/lab-grown-diamond-earrings">Lab-grown Diamond Earrings</a></li>
      </ul>

      {% elsif collection.handle == 'lab-grown-diamond-tennis-bracelets' %}
      <ul>
        <li><a href="/collections/lab-grown-diamond-bolo-bracelets">Lab-created Diamond Bolo Bracelets</a></li>
        <li><a href="/collections/lab-grown-diamond-classic-bracelets">Lab-created Diamond Line Bracelets</a></li>
        <li><a href="/collections/lab-grown-diamond-chain-bracelets">Lab-created Diamond Chain Bracelet</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-bracelets">Anika’s Lab-grown Diamond Bracelets</a></li>
        <li><a href="/collections/anikas-sustainable-bracelet-charms">Lab-grown Diamond Charms</a></li>
        <li><a href="/collections/anikas-earth-sky-diamond-jewelry">Anika’s Earth & Sky Collection</a></li>
        <li><a href="/collections/anikas-seed">Anika’s Seed Collection</a></li>
        <li><a href="/collections/lab-grown-diamond-rings">Lab-grown Diamond Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-engagement-rings">Lab-grown Diamond Engagement Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-necklaces-pendants">Lab-grown Diamond Necklaces</a></li>
        <li><a href="/collections/lab-grown-diamond-earrings">Lab-grown Diamond Earrings</a></li>
      </ul>

      {% elsif collection.handle == 'lab-grown-diamond-bolo-bracelets' %}
      <ul>
        <li><a href="/collections/lab-grown-diamond-tennis-bracelets">Lab-grown Diamond Tennis Bracelets</a></li>
        <li><a href="/collections/lab-grown-diamond-classic-bracelets">Lab-created Diamond Line Bracelets</a></li>
        <li><a href="/collections/lab-grown-diamond-chain-bracelets">Lab-created Diamond Chain Bracelet</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-bracelets">Anika’s Lab-grown Diamond Bracelets</a></li>
        <li><a href="/collections/anikas-sustainable-bracelet-charms">Lab-grown Diamond Charms</a></li>
        <li><a href="/collections/anikas-earth-sky-diamond-jewelry">Anika’s Earth & Sky Collection</a></li>
        <li><a href="/collections/anikas-seed">Anika’s Seed Collection</a></li>
        <li><a href="/collections/lab-grown-diamond-rings">Lab-grown Diamond Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-engagement-rings">Lab-grown Diamond Engagement Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-necklaces-pendants">Lab-grown Diamond Necklaces</a></li>
        <li><a href="/collections/lab-grown-diamond-earrings">Lab-grown Diamond Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-heart-pendants-necklaces">Lab-grown Diamond Heart Pendants</a></li>
      </ul>

      {% elsif collection.handle == 'lab-grown-diamond-classic-bracelets' %}
      <ul>
        <li><a href="/collections/lab-grown-diamond-tennis-bracelets">Lab-grown Diamond Tennis Bracelets</a></li>
        <li><a href="/collections/lab-grown-diamond-bolo-bracelets">Lab-created Diamond Bolo Bracelets</a></li>
        <li><a href="/collections/lab-grown-diamond-chain-bracelets">Lab-created Diamond Chain Bracelet</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-bracelets">Anika’s Lab-grown Diamond Bracelets</a></li>
        <li><a href="/collections/anikas-sustainable-bracelet-charms">Lab-grown Diamond Charms</a></li>
        <li><a href="/collections/anikas-earth-sky-diamond-jewelry">Anika’s Earth & Sky Collection</a></li>
        <li><a href="/collections/anikas-seed">Anika’s Seed Collection</a></li>
        <li><a href="/collections/lab-grown-diamond-rings">Lab-grown Diamond Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-engagement-rings">Lab-grown Diamond Engagement Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-necklaces-pendants">Lab-grown Diamond Necklaces</a></li>
        <li><a href="/collections/lab-grown-diamond-earrings">Lab-grown Diamond Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-heart-pendants-necklaces">Lab-grown Diamond Heart Pendants</a></li>
      </ul>

      {% elsif collection.handle == 'lab-grown-diamond-chain-bracelets' %}
      <ul>
        <li><a href="/collections/lab-grown-diamond-tennis-bracelets">Lab-grown Diamond Tennis Bracelets</a></li>
        <li><a href="/collections/lab-grown-diamond-bolo-bracelets">Lab-created Diamond Bolo Bracelets</a></li>
        <li><a href="/collections/lab-grown-diamond-classic-bracelets">Lab-created Diamond Line Bracelets</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-bracelets">Anika’s Lab-grown Diamond Bracelets</a></li>
        <li><a href="/collections/anikas-sustainable-bracelet-charms">Lab-grown Diamond Charms</a></li>
        <li><a href="/collections/anikas-earth-sky-diamond-jewelry">Anika’s Earth & Sky Collection</a></li>
        <li><a href="/collections/anikas-seed">Anika’s Seed Collection</a></li>
        <li><a href="/collections/lab-grown-diamond-rings">Lab-grown Diamond Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-engagement-rings">Lab-grown Diamond Engagement Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-necklaces-pendants">Lab-grown Diamond Necklaces</a></li>
        <li><a href="/collections/lab-grown-diamond-earrings">Lab-grown Diamond Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-heart-pendants-necklaces">Lab-grown Diamond Heart Pendants</a></li>
      </ul>

      {% elsif page.handle == 'about-us' %}
      <ul>
        <li><a href="/collections/lab-grown-diamond-engagement-rings">Lab-created Diamond Engagement Rings</a></li>
        <li><a href="/collections/anikas-diamond-jewelry-collection">MFU X Anika</a></li>
        <li><a href="/collections/lab-grown-diamond-rings">Lab-created Diamond Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-earrings">Lab-created Diamond Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-necklaces-pendants">Lab-created Diamond Pendants</a></li>
        <li><a href="/collections/lab-grown-diamond-bracelets-bangles">Lab-created Diamond Bracelets</a></li>
        <li><a href="/collections/lab-grown-diamond-eternity-rings">Lab-created Diamond Wedding Bands</a></li>
        <li><a href="/collections/lab-grown-diamond-heart-pendants-necklaces">Lab-created Diamond Heart Pendants</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-rings">MFY X Anika Diamond Rings</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-earrings">MFY X Anika Diamond Earrings</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-necklaces-pendants">MFY X Anika Diamond Pendants</a></li>
        <li><a href="/collections/anikas-sustainable-bracelet-charms">Diamond Charms by Anika</a></li>
      </ul>

      {% elsif page.handle == 'anika-made-for-you-diamond-jewelry' %}
      <ul>
        <li><a href="/collections/lab-grown-diamond-engagement-rings">Lab-created Diamond Engagement Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-cluster-earrings">Lab-grown Diamond Dangler Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-rings">Lab-created Diamond Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-earrings">Lab-created Diamond Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-necklaces-pendants">Lab-created Diamond Pendants</a></li>
        <li><a href="/collections/lab-grown-diamond-bracelets-bangles">Lab-created Diamond Bracelets</a></li>
        <li><a href="/collections/lab-grown-diamond-eternity-rings">Lab-created Diamond Wedding Bands</a></li>
        <li><a href="/collections/lab-grown-diamond-heart-pendants-necklaces">Lab-created Diamond Heart Pendants</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-rings">MFY X Anika Diamond Rings</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-earrings">MFY X Anika Diamond Earrings</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-necklaces-pendants">MFY X Anika Diamond Pendants</a></li>
        <li><a href="/collections/anikas-sustainable-bracelet-charms">Diamond Charms by Anika</a></li>
      </ul>
      
      {% else %}
      <ul>
        <li><a href="/collections/lab-grown-diamond-engagement-rings">Lab-created Diamond Engagement Rings</a></li>
        <li><a href="/collections/anikas-diamond-jewelry-collection">MFU X Anika</a></li>
        <li><a href="/collections/lab-grown-diamond-rings">Lab-created Diamond Rings</a></li>
        <li><a href="/collections/lab-grown-diamond-earrings">Lab-created Diamond Earrings</a></li>
        <li><a href="/collections/lab-grown-diamond-necklaces-pendants">Lab-created Diamond Pendants</a></li>
        <li><a href="/collections/lab-grown-diamond-bracelets-bangles">Lab-created Diamond Bracelets</a></li>
        <li><a href="/collections/lab-grown-diamond-eternity-rings">Lab-created Diamond Wedding Bands</a></li>
        <li><a href="/collections/necklaces-charms">Lab-created Diamond Charms</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-rings">MFY X Anika Diamond Rings</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-earrings">MFY X Anika Diamond Earrings</a></li>
        <li><a href="/collections/mfy-x-anika-lab-grown-diamond-necklaces-pendants">MFY X Anika Diamond Pendants</a></li>
        <li><a href="/collections/anikas-sustainable-bracelet-charms">Diamond Charms by Anika</a></li>
      </ul>
      {% endif %}
    </div>
  </div>
</div>