<div class="page-tpl about-us-page">
  <div class="container breadcrumb-container">
    {% include 'breadcrumb' %}
  </div>
  <div class="container">
    <div class="about_first_four_sec">
      <div class="about-banner">
        <img class="desk_image" src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/about-us2_491bf5a5-466b-4997-bc40-1900f3bfc3eb.png?v=1603801217" alt="" />
        <img class="mob_image" src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/aboutus_M.png?v=1603801216" alt="" />
        <div class="banner-content">
          <h2> 
            She perceives the world <br>
            through a fresh set of eyes,<br>
            Makes a choice to gracefully rise,<br>
            Her beliefs she holds them close,<br>
            <i>Made For You</i> is the way she chose!
          </h2>
        </div>
      </div>

      <div class="about-second-sec">
        <div class="about_second_top_sec">
          <h3> Jewelry with a conscience</h3>
          <p>Our mission upholds a conscious way of life that builds a better future, together. </p>
        </div>
        <div class="about_second_btm_sec">
          <div class="content_info">
            <div class="img_data">
              <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/Sustainable-Logo.png?v=1603721009">
            </div>
          </div>
          <div class="content_info">
            <div class="img_data">
              <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/Conflict-Free-Logo.png?v=1603721009">
            </div>
          </div>
          <div class="content_info">
            <div class="img_data">
              <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/Greener-Logo.png?v=1603721010">
            </div>
          </div>
          <div class="content_info">
            <div class="img_data">
              <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/Recycled-Metal-logo.png?v=1603721009">
            </div>
          </div>
        </div>
      </div>

      <div class="about-three-block-sec">
        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/Mission.png?v=1603719173" alt="">
            </div>
            <div class="flip-box-back">
              <div class="info">
                <div class="datas">
                  <p>With an aim to be 100% carbon-neutral  in the next five years, MFY was founded to share conscious love through fine diamond jewelry that reflects our vision of  jewelry with diamonds that have the same properties as their mined counterparts and also preserve
                    your conscience.</p>
                  <p>We look forward to a cleaner and brighter future – with you.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/sustain.png?v=1603719172" alt="">
            </div>
            <div class="flip-box-back">
              <div class="info">
                <div class="datas">
                  <p>Our partnership with One Tree Planted plants a tree with every purchase made.</p>
                  <p>The use of recycled metal and Lab-grown diamonds reiterates our belief in conscious consumption and encourages you to recycle and reuse while reducing our carbon consumption.</p>
                  <p> The Renaissance Foundation is planting 10,000 trees to aid reforestation and also focuses on improving education, healthcare, humanitarian relief, and animal welfare.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/Values_1.png?v=1603719173" alt="">
            </div>
            <div class="flip-box-back">
              <div class="info">
                <div class="datas">
                  <p>We value our community, and the universe we live in.</p>
                  <p>Our 100% conflict-free jewelry doesn’t affect the living conditions of communities and shares the passion of our craftsmen, artisans, and workers to offer easy, ethical, and environmentally-friendly jewelry that you will love. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="about-forth-sec">
        <p>At the core of Made For You is a pillar of support offered by our parent company-<br>
          <b>Renaissance Global Limited.</b></p>
      </div>
    </div>
    <div class="about-fifth-sec">
      <img class="desk_image" src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/Wordcloud-desktop.png?v=1603806166" alt="" />
      <img class="mob_image" src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/Wordcloud-mobile.png?v=1603806162">
    </div>

    <div class="about_last_three_sec">
      <div class="our-clients">
        <p class="section-title">Official Licensee</p>
        <div class="our-official-slider about-us-slider">
          <div>
            <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/disney_1.png?v=1603463471" alt="" />
          </div>
          <div>
            <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/Enchanted_LOGO_Final_New_Navy.png?v=1603462442" alt="" />
          </div>
          <div>
            <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/star_wars.png?v=1603462442" alt="" />
          </div>
          <div>
            <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/Hallmark_logo_logotype.png?v=1603462442" alt="" />
          </div>
        </div>
      </div>
      <div class="our-brands">
        <p class="section-title">Our Brands</p>
        <div class="our-brands-slider about-us-slider">
          
          <div>
            <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/jewilili.png?v=1603462874" alt="" />
          </div>
          <div>
            <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/MFU.png?v=1603462874" alt="" />
          </div>
          <div>
            <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/IRASVA-01.png?v=1603462874" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
