{% include 'page-gifts-css' %}
<div class="page-gifts">
  {% section 'gifts-main-banner' %}
  {% section 'gifts-collection' %}
  {% section 'gifts-banner' %}
  {% section 'gifts-products' %}
  {% section 'gifts-feature-row' %}
  {% section 'gifts-products-1' %}
  {% section 'gifts-banner-1' %}
  {% section 'instagram-feed' %}
</div>