{% include 'page-sustainability-css' %}

<div class="page-sustainability page-static-common">
  {% section 'sb-banner' %}
  {% section 'sb-two-images' %}
  {% section 'sb-mfy-jewelry' %}
  {% section 'sb-text-over-image' %}
  {% section 'sb-one-tree' %}
  {% section 'sb-packaging' %}
  {% section 'instagram-feed' %}
</div>