<div class="collection-template">
  <div class="container">
    {% include 'breadcrumb' %}
    {% include 'collection-header' %}

    <div class="collection-content">
      {% section 'collection-template' %}
    </div>
  </div>
</div>{% include 'wiser_trending' %}{% include 'wiser_recentview' %}{% include 'wiser_newarrivals' %}{% include 'wiser_featured' %}{% include 'wiser_topselling' %}{% include 'wiser_recent_related' %}