<section class="artical-section" id="artical1">
    <div class="container">
        <h2 class="artical-title">Understanding What’s Real and What’s Fake</h2>
        <p>Diamonds are known for their gorgeous sparkle and beautiful shine. But in order to keep your jewellery looking as good as new, it’s important that you take the time to clean your diamond jewellery regularly. If you’re wondering how to keep your lab-grown diamonds bright and shiny, here’s everything you need to know about cleaning and storing your diamond jewellery.</p>
        <div class="banner-img">
            <img data-src="{{ 'Article_page_pic_1_977x486_aa78ebda-8ece-40a7-b5fb-9b4079198eaf.png' | file_img_url: '1024x768' }}"
                alt="" class="lazyload">
        </div>
        <div class="row">
            <div class="col-md-5 order-md-2">
                <img data-src="{{ 'Article_page_pic_2_441x624_4a025d59-3461-4ee2-a59b-8c03209f2db2.png' | file_img_url: '1024x768' }}"
                alt="" class="lazyload">
            </div>
            <div class="col-md-7 pr-40 order-md-1">
                <h5>Diamond Alternatives</h5>
                <p>Over the years, a number of other stones have been used in jewellery in place of diamonds. These stones, known as diamond alternatives or diamond simulants, look like diamonds, but they’re not the same. They may have similar physical features, but the chemical compositions of these alternatives are completely different. To understand what’s real and what’s fake, let’s take a closer look at the various diamond simulants that are popular today.</p>
                <h5>Cubic Zirconia</h5>
                <p>These stones, which are also known as American Diamonds or simply CZ, are probably the most commonly used diamond alternative. The stone is created by artificially producing a version of the element zircon. These stones are chemically completely different from diamonds. They are not as hard and the sparkle isn’t quite as brilliant. Since these stones aren’t found in nature, they are not considered gemstones.
                </p>
                <h5>Moissanite</h5>
                <p>This diamond alternative started off as a naturally-occurring mineral. But the natural supply available wasn’t enough to embellish even small pieces of jewellery, so scientists found a way to create the mineral in laboratories. The stones created are said to have a lot of fire. This means that when light hits the stone, you can see a rainbow effect. The stones are quite hard but are more likely to get scratched than diamonds. While most moissanite stones are colourless, over time the colour may change, which means that the colour of these stones does not hold up quite as well as that of diamonds.</p>
            </div>
        </div>
        <div class="banner-img">
            <img data-src="{{ 'Article_page_pic_3_977x486_46e75660-1b04-4a2e-9b59-27c838a2a0f3.png' | file_img_url: '1024x768' }}"
            alt="" class="lazyload">
        </div>
        <div class="row">
            <div class="col-md-5 order-md-2">
                <img data-src="{{ 'Article_page_pic_4_441x550_ad61d825-96ac-4ce3-b559-7ab899f16ea1.png' | file_img_url: '1024x768' }}"
                    alt="" class="lazyload">
            </div>
            <div class="col-md-7 pr-40 order-md-1">
                
                <h5>White Sapphire</h5>
                <p>Like diamonds, white sapphire is available in both natural and lab-grown varieties. Natural white sapphires can have a milky appearance, while lab-grown varieties are a bit clearer, which makes them a better alternative for diamonds. These stones are definitely durable but they’re not as brilliant as diamonds as they don’t have the same kind of sparkle.</p>
                <h5>The Lab-Grown Advantage</h5>
                <p>Diamond simulants became popular solely because of the high cost attached to mined diamonds. With the introduction of lab-grown diamonds, however, this has changed. <strong>Lab-grown diamonds </strong>are better than every diamond alternative available as they are <strong>100% real diamonds</strong>  and have all the same qualities that make mined diamonds one of the most sought-after stones in the world.</p>
                <p>Lab-grown diamonds allow you to enjoy the best of both worlds. You get a real diamond, one of the most precious stones known to man, that is affordable and ethical!</p>
            </div>
        </div>
        <div class="artical-pagination">
            <div class="float-left">
                <p>previous article</p>
                <a href="/pages/the-four-cs-of-a-diamond">The Four Cs of a Diamond</a>
            </div>
            <div class="float-right text-right">
                <p>next article</p>
                <a href="/pages/what-are-lab-grown-diamonds-are-they-real">What Are Lab-Grown Diamonds? Are They Real?</a>
            </div> 
        </div>
    </div>
</section>