

{% include 'style-labgrown' %}

<div class="page-tpl">
  <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/left-bg-removebg.png?v=1605857057" class="lftleafimg">
  <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/right-bg-removebg.png?v=1605857059" class="rytleafimg">


  <div id="wrapper">

    <div class="tabs-wrapper_main">

      <div class="container">
        <div class="tabs-wrapper">

          <input type="radio" name="tab" id="tab1" class="tab-head1" checked="checked"/>
          <label for="tab1">RECYCLED METAL</label>
          <input type="radio" name="tab" id="tab2" class="tab-head2" />
          <label for="tab2">LAB GROWN DIAMONDS</label>
          <input type="radio" name="tab" id="tab3" class="tab-head3" />
          <label for="tab3" class="tabwidth" style="display:none;">RENAISSANCE GLOBAL FOUNDATION</label>
          <input type="radio" name="tab" id="tab4" class="tab-head4" />
          <label for="tab4">ONE TREE PLANTED</label>

          <div class="tab-body-wrapper">
            <div class="tab-content">

              <div id="tab-body-1" class="tab-body">
                <div class="recyclemetalcontent">
                  <div class="recyclemetallftcontent">
                    <h2 class="labtitle whyheadingtitle">What is Recycled Metal?</h2>
                    <p class="paragraph txtlft">At Made For You we are deeply committed to sustainability and consciously 
                      choose to use recycled metal in all of our designs. This is a great way to 
                      reduce the demand for newly mined gold that affects the ecological balance of our planet.
                      Recycling and refining ensures that the quality and purity of
                      the metal remains unaffected to offer conflict-free jewelry</p>
                  </div>
                  <div class="recyclemetalryt">
                    <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/RecycledMetalRIng-removebg.png?v=1605857065" class="metalimg">
                  </div>
                  <div class="clear"></div>
                </div>
                <div class="infinitycontent">
                  <div class="infinityimgdiv">
                    <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/infinityImg.png?v=1605857060" class="infinityimg">
                  </div>
                  <div class="infinitycontent_1 InfiniteContentWrap">
                    <span class="infiniteTitle">1. Sourcing Recyclable Gold and Silver</span>
                    <p>The process begins with procuring consumer gold, jewelry, industrial-use metals,
                      electronics components, product manufacturing or investment gold and gold-bearing product.</p>
                  </div>
                  <div class="infinitycontent_3 InfiniteContentWrap">
                    <span class="infiniteTitle">3. Purchasing of refined metal</span>
                    <p>The refined gold is then purchased by different organisations such as jewellery 
                      manufacturers and electronics companies depending on their requirements and 
                      refurbished into newer pieces for their use. 
                    </p>
                  </div>
                  <div class="infinitycontent_4 InfiniteContentWrap">
                    <span class="infiniteTitle">4. Reintroduction into Market</span>
                    <p>The recycled metal makes its way back to the consumers in the form of jewellery and electronics among others</p>
                  </div>
                  <div class="infinitycontent_2 InfiniteContentWrap">
                    <span class="infiniteTitle">2. Refining and Processing</span>
                    <p>After receiving post consumer gold and silver from the aforementioned sources, 
                      it is then sold to a refiner where it is processed and purified so as to ensure 
                      the quality of the recycled metal. The refining process removes impurities and provides 
                      jewellers with a more reliable medium</p>
                  </div>
                  <div class="clear"></div>
                </div>

                <div class="whysec">
                  <h2 class="labtitle">Why Recycled Metal?</h2>
                  <p class="paragraph why_txtryt">We strive to do our part in diminishing the negative impacts of 
                    mining on our environment and community. We use high-quality recycled metal in all of our 
                    jewelry because we believe in the advantages it offers.</p>
                  <div class="clear"></div>
                  <div class="whysec_imgsec_Maindiv">
                    <div class="communitiessec">
                      <div class="whysecImgDiv"><img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/soil.png?v=1605857054" class="communitiesimg"></div>
                      <span class="communitiestxt">Preserving Land & Communities</span>
                    </div>
                    <div class="communitiessec">
                      <div class="whysecImgDiv"><img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/social-care-2.png?v=1605857055" class="communitiesimg"></div>
                      <span class="communitiestxt">Safe Working Environment</span>
                    </div>
                    <div class="communitiessec">
                      <div class="whysecImgDiv"><img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/radioactive.png?v=1605857056" class="communitiesimg"></div>
                      <span class="communitiestxt">Negligible Toxic Waste</span>
                    </div>
                    <div class="communitiessec">
                      <div class="whysecImgDiv"><img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/water-2.png?v=1605857056" class="communitiesimg"></div>
                      <span class="communitiestxt">Conservation of Water Bodies</span>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <p class="bottomtext">By using recycled gold, you can preserve a little bit of history with each piece and you never know,
                    a bit of Cleopatra’s gold could be part of your jewelry</p>

                </div>
                <p class="footertxt">We do our best to source from validated responsible refiners but currently we do not offer components and findings such as peg heads, posts, clasps, tennis bracelet mountings, 
                  and chains from recycled sources due to limited availability.</p>
              </div>

              <div id="tab-body-2" class="tab-body">
                <h2 class="labtitle">Lab-grown Diamonds</h2>
                <p class="tabtxt">created by us,loved by you.<abbr>our jewelry is created with a conscience</abbr></p>
                <div class="borderdiv"></div>
                <p class="paragraph">A diamond in every way, Lab-grown diamonds have a fascinating origin story to tell- one that can be
                  traced and proudly shared. Exactly the same as the diamonds extracted from the Earth’s surface,
                  Lab-grown diamonds support sustainable global diamond-trading practices in sync with our mission.</p>
                <div class="imgdiv">
                  <ul class="reset">
                    <li><img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/reduceimg.png?v=1605865154" class="tabimg"><span>Reduced Carbon <abbr>Emissions</abbr></span></li>
                    <li><img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/lowerimg.png?v=1605865153" class="tabimg"><span>Lower Waste <abbr>Rock Residue</abbr></span></li>
                    <li><img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/negligibleimg.png?v=1605865154" class="tabimg"><span>Negligible <abbr>Industrial Waste</abbr></span></li>
                    <li><img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/minimalimg.png?v=1605865154" class="tabimg"><span>Minimal Earth <abbr>Displacement</abbr></span></li>
                  </ul>
                  <div class="clear"></div>
                </div>
                <p class="paragraph widthtxt">At Made For You, we wanted to give you a conscious, 
                  and environmentally-kind alternative to conventionally mined diamond jewelry.</p>
                <div class="benefits_sec">
                  <div class="communitybenefit_sec">
                    <h4 class="headingsec txtryt">Community benefits</h4>
                    <div class="borderdiv"></div>
                    <p class="paragraph txtryt">Offering peace of mind, our diamonds are conflict-free
                      with no child labor, high employee safety
                      standards, respectable origin, and fair market practices.
                      We support peaceful policies and legal, violence-free diamond trading with no connections to
                      civil war or rebel organizations</p>
                  </div>

                  <div class="ringImg_sec">
                    <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/ringimg.png?v=1605857065" class="ringimg">
                  </div>

                  <div class="environmentalbenifit_sec">
                    <h4 class="headingsec txtlft">Environmental benefits</h4>
                    <div class="borderdiv"></div>
                    <p class="paragraph txtlft">Our decision to use Lab-grown diamonds also comes
                      from the fact that there is no soil movement, negligible
                      air pollution leading to negligible carbon emissions,
                      lesser water usage, lesser mineral waste, lesser energy
                      consumption, and an easier supply chain</p>
                  </div>
                  <div class="clear"></div>

                  <div class="rjlogo">
                    <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/rjimg.png?v=1605857054" class="rjlogoimg">
                  </div>
                  <p class="paragraph">
                    Being a responsible member of the Responsible Jewellery Council, 
                    we believe that “responsible business is good business”. RJC is the global 
                    membership and standards body for responsible 
                    jewelry throughout the entire supply chain – from mine to retail.
                  </p>
                </div>

              </div>



              <div id="tab-body-3" class="tab-body">

                <div class="about-fifth-sec">
                  <img class="desk_image desk_view" src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/Wordcloud-desktop.png?v=1603806166" alt="">
                  <img class="mob_image mobile_view" src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/Wordcloud-mobile.png?v=1603806162">
                </div>
              </div>



              <div id="tab-body-4" class="tab-body">
                <div class="OneTreeMainDiv">
                  <section class="OneTreeTextDiv">
                    <h2 class="labtitle">One Tree Planted</h2>
                    <p class="paragraph paddingbootom">We care about the planet, and are committed to giving back to nature in our own way. Which is why we have partnered with One Tree Planted @onetreeplanted. A 501(c)(3) nonprofit focused on global reforestation,
                      they have already planted about 6 million trees since their inception</p>
                    <div class="borderdiv"></div>
                    <p class="paragraph">For every purchase made, the team will plant a tree on your behalf making it easy 
                      for you to combat the effects of climate change.</p>
                  </section>
                  <section class="OneTreeImgDiv">
                    <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/OneTreePlantedImg.png?v=1605857062" class="purchaseImg desk_view">
                    <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/Onetreeplantedmobile.png?v=1605857058" class="purchaseImg mobile_view">
                  </section>
                  <section class="MapDiv">
                    <p class="paragraph">We at Made For You are contributing towards reforestation of our planet as a part 
                      of our greater mission of achieving sustainability</p>
                    <div class="countryDiv">
                      <div class="countryImgs">
                        <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/NorthAmericaImg.png?v=1605857054" class="CountryImg">
                      </div>
                      <div class="countryImgs">
                        <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/AfricaImg.png?v=1605853421" class="CountryImg">
                      </div>
                      <div class="countryImgs">
                        <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/AsiaImg.png?v=1605853421" class="AsiaImg desk_view">
                      </div>
                      <div class="countryImgs">
                        <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/LatinAmerica.png?v=1605857053" class="CountryImg desk_view">
                      </div>
                    </div>
                    <p class="paragraph OneTreeParagraph">Help us achieve the 2020 goal of planting 15,000,000 trees.
                      <a href="#" class="clicklink">Click here to Shop Now.</a>
                    </p>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
