<div class="container">
  {% include 'breadcrumb' %}

  <header class="page-header">
    <h2>
      {% include 'multilang' with page.title %}
    </h2>  
  </header>

  <div class="wrapper-instagram">
    {% section 'shop-instagram' %}
  </div>
</div>