<div class="page-tpl about-us-1">
  <div class="container">
    {% include 'breadcrumb' %}
  </div>
  {% comment %}
  <div class="wrapper-slideshow">
    {% section 'about-us-slideshow'%}
  </div>
  {% endcomment %}
  <div>
    {% section 'about-us-banner' %}
  </div>
  <div class="design-text">
    <div class="container">
      <div class="inner-banner-txt">
        <h2>
          <span class="open-quotes"></span>
          <b>Design</b> is all around, in <br><b>forms,</b> in <b>conversations,</b> <br>even in the <b>moods <br>of the sky</b>
        </h2>
        <p><b>Sabrina Jane • </b>creative Director
          <span class="close-quotes"></span>
        </p>
      </div>
    </div>
  </div>
  <div>
    {% section 'key-values'%}
    {% section 'grown-diamonds' %}
    {% section 'home-page-block-one-banner' %}
  </div>
</div>
