<div class="page-tpl">
  <div class="container">
    {% include 'breadcrumb' %}
    {% section 'eduction-banner' %}
    {% section 'education-text' %}
    {% comment %}
    {% section 'videos' %}
    {% endcomment %}
  </div>
    {% section 'diamond-types' %}
  <div class="container">
    <div class="diamond-table">
      <h1>Diamond Comparison Guide</h1>
      <table cellpadding="0" cellspacing="0" border="0" class="desktop-xs">
        <tbody>
          <th></th>
          <th>Lab Grown Diamond</th>
          <th>Mined Diamond</th>
          <tr>
            <td>Diamond Source</td>
            <td align="center" style="border-left: 1px solid #f7f7f745; border-right: 1px solid #f7f7f745;">Grown in Lab</td>
            <td align="center">Mined from the earth</td>
          </tr>
          <tr>
            <td>Chemical Composition</td>
            <td align="center" style="border-left: 1px solid #f7f7f745; border-right: 1px solid #f7f7f745;">Carbon</td>
            <td align="center">Carbon</td>
          </tr>
          <tr>
            <td>Lab Certified</td>
            <td align="center" style="border-left: 1px solid #f7f7f745; border-right: 1px solid #f7f7f745;">Yes</td>
            <td align="center">Yes</td>
          </tr>
          <tr>
            <td>Fake</td>
            <td align="center" style="border-left: 1px solid #f7f7f745; border-right: 1px solid #f7f7f745;">No</td>
            <td align="center">No</td>
          </tr>
          <tr>
            <td>Real Diamond</td>
            <td align="center" style="border-left: 1px solid #f7f7f745; border-right: 1px solid #f7f7f745;">Yes</td>
            <td align="center">Yes</td>
          </tr>

        </tbody>
      </table>

      <div class="mobile-xs diamond-box">
        <h4>Lab Grown Diamond</h4>
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td style="opacity: 0.5;">Diamond Source</td>
              <td style="text-align: right;">Grown in Lab</td>
            </tr>
            <tr>
              <td style="opacity: 0.5;">Chemical Composition</td>
              <td style="text-align: right;">Carbon</td>
            </tr>
            <tr>
              <td style="opacity: 0.5;">Lab Certified</td>
              <td style="text-align: right;">Yes</td>
            </tr>
            <tr>
              <td style="opacity: 0.5;">Fake</td>
              <td style="text-align: right;">No</td>
            </tr>
            <tr>
              <td style="opacity: 0.5;">Real Diamond</td>
              <td style="text-align: right;">Yes</td>
            </tr>
          </tbody>
        </table>
        <br>
        <h4>Mined Diamond</h4>
         <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td style="opacity: 0.5;">Diamond Source</td>
              <td style="text-align: right;">Mined from the earth</td>
            </tr>
            <tr>
              <td style="opacity: 0.5;">Chemical Composition</td>
              <td style="text-align: right;">Carbon</td>
            </tr>
            <tr>
              <td style="opacity: 0.5;">Lab Certified</td>
              <td style="text-align: right;">Yes</td>
            </tr>
            <tr>
              <td style="opacity: 0.5;">Fake</td>
              <td style="text-align: right;">No</td>
            </tr>
            <tr>
              <td style="opacity: 0.5;">Real Diamond</td>
              <td style="text-align: right;">Yes</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>  
</div>
