<div class="collection-template">
  <div class="container">
    {% include 'breadcrumb' %}
    {% include 'collection-header' %}

    <div class="collection-content">
      {% section 'collection-template' %}
    </div>
  </div>
</div>