
{% include 'style-discovercss' %}
<div class="page-tpl">
 <div class="MainWrapper">
        <div class="Headerposition">
            <div class="headerBg">

            </div>
        </div>
        <section class="HeaderContentSec">
    
           <div class="container">
               <div class="RingImgSec text-center">
                   <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/RingImg-removebg-preview.png?v=1605862018" class="RingImg"> 
               </div>
               <div class="contentDiv text-center">
                   <h2 class="headings">Discover Lab Grown Diamonds</h2>
                   <p class="text_desc">Have you ever looked at a diamond and wondered where it came from?
                   <abbr>Or under what conditions it was made?</abbr> 
                    <abbr>Let us help you understand why we at Made For You use Lab-grown diamonds over mined diamonds in our jewelry</abbr></p>
               </div>

           </div>
        </section>
        <section class="Img-text-sec">
              <div class="container">
                  <div class="LabGrownContent">
                       <div class="LabImg">
                   <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/LabGrownImg.png?v=1605862028" class="ImgRes"> 
                       </div>
                       <div class="LabImgcontent">
                            <p>Simply put, Lab-grown diamonds are
                                exactly the same as mined diamonds.
                                The only difference lies in their origin.
                                Mined diamonds are extracted from
                                the earth while Lab-grown diamonds
                                are cultivated using technology that
                                replicates the conditions beneath the earth,
                                minus the environmental destruction.</p>
                                <span class="boldtxt">
                                    The outcome is a diamond that you
                                    can love without any guilt.</span>
                    </div>
                    <div class="clear"></div>
                  </div>
              </div>
        </section>

        <section class="redsec">
           <div class="container">
               <div class="RedSecMainDiv">
                   <div class="lftContent">
                    <span class="BigTxt">Oh!</span>
                    <span class="smalltxt">So they are
                        real diamonds?</span>
                   </div>
                   <div class="rytContent">
                     <p class="redparagraph">Yes, of course, they are 100% real diamonds and are absolutely identical to mined diamonds
                        in every way. They share the same physical, chemical, and optical composition as their
                        counterparts derived from the Earth. So much so that even the top gemological grading labs
                        in the world cannot tell the difference without sophisticated equipment.</p>
                   </div>
                   <div class="clear"></div>
               </div>
           </div> 
        </section>
        <section class="MinedSec">
            <div class="container">
                <div class="MinedContentMainDiv">
                <div class="MinedLfttxt">
                       <h3 class="MinewdTitle">Lab-grown diamonds</h3>
                       <ul class="padding0">
                           <li class="lft_li">• Made from Carbon</li>
                           <li class="ryt_li">• Real Diamonds</li>
                           <li class="ryt_li_Txt">.Traceable origin</li>
                       </ul>
                       <div class="clear"></div>
                </div>
                <div class="MinedMidImg">
                    <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/minedDiamondImg.png?v=1605862019" class="MinedDiamondImg"> 
                </div>
                <div class="MinedRyttxt">
                    <h3 class="MinewdTitle">Mined Diamonds</h3>
                    <ul class="padding0">
                        <li>• Made from Carbon</li>
                        <li class="paddinglft">• Real Diamonds</li>
                        <li class="lft_li_Txt">• Untraceable Origin</li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            </div>

        </section>
        <section class="breakborderdiv container">
         
                <div class="bordercontentsec">
                <p class="borderparagraph">Since they look absolutely identical, it is impossible
                    to distinguish between them with a naked eye.</p>
           
        </div>

        </section>

        <section class="Img-text-sec">
            <div class="container">
                <div class="LabGrownContent marginlft">
                    
                     <div class="LabImgcontent borderbottomtxt">
                          <p class="bordernone">At Made For You, we believe in a conscious
                          way of life. Mining harms the earth in more
                          ways than we can imagine. Which is why
                          we have opted for a more sustainable option
                          to set our jewelry with. Lab-grown diamonds
                          cause no harm to the environment or
                          community, are equal in quality, and are an
                          economical choice when compared to mined
                          diamonds. It's a win-win any way that
                          you look at it.</p>
                              
                  </div>
                  <div class="LabImg handimgsec">
                    <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/HandRingImg.png?v=1605862027" class="ImgRes handimg"> 
                        </div>
                  <div class="clear"></div>
                </div>
            </div>
      </section>

      <section class="redsec">
        <div class="container">
            <div class="RedSecMainDiv">
                <div class="lftContent amezingwidth">
                 <span class="BigTxt amezingtxt">Amazing!</span>
                 <span class="smalltxt amezingsmalltxt">But how are 
                    they grown?</span>
                </div>
                <div class="rytContent">
                  <p class="redparagraph">Basically, the same high temperature and high-pressure conditions
                    that form a diamond in the earth are replicated in a lab to avoid
                    the consequences of mining. There are two processes labs use to
                    grow diamonds - High Pressure-High Temperature (HPHT) and
                    Chemical Vapor Deposition (CVD). 
                    </p>
                </div>
                <div class="clear"></div>
            </div>
        </div> 
     </section>
     <section class="progresssec">
         <div class="container">
            <div class="StepMainDiv">
             <div class="step_1 step_border">
                <span class="stepspn">step</span>
                <div class="ProgressTitle">01</div>
                <div class="cylinderParentdiv">
                    <div class="cylinderImgDiv">
                        <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/cylinderimg_1.png?v=1605862015" class="cylinderimg">
                    </div>
                     <div class="cylinderContenttxt">
                        <p>A disc containing
                            diamond seeds is
                            placed in the
                            diamond chamber</p>
                     </div>
                  <div class="clear"></div>
                </div>
               
             </div>
             <div class="step_2 step_border">
                <span class="stepspn">step</span>
                <div class="ProgressTitle">02</div>
                <div class="cylinderParentdiv">
                <div class="cylinderImgDiv cylinderimgwidth">
                <img src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/CylinderImg_2.png?v=1605862016" class="cylinderimg"> 
                </div>
                <div class="cylinderContenttxt">
                    <p>Super heated gases
                        combine with heat
                        inside the chamber</p>
                </div>
                <div class="clear"></div>
            </div>
            </div>
            <div class="clear"></div>
        </div>
         </div>
     </section>
     <section class="breakborderdiv container marginbtm">
         
        <div class="bordercontentsec">
            <p class="Nowtxt">Now that we know how environmentally-kind Lab-grown diamonds are,</p>
        <p class="borderparagraph customborder"><span class="capstxt">browse through our designs</span>
            to pick a piece that is truly made for you.</p>
   
</div>

</section>

    </div>
</div>