<div class="one-tree-planted">
  {% include 'breadcrumb' %}
  <div class="page-width">
    <div class="grid">
      <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
        <div class="section-header text-center">
          <h1>{{ page.title }}</h1>
        </div>
        
        <div class="rte text-center">
          <p>We care about the planet, and are committed to giving back to nature in our own way. Which is why we have partnered with One Tree Planted @onetreeplanted. A 501(c)(3) nonprofit focused on global reforestation, they have already planted about 6 million trees since their inception</p>
          <p>For every purchase made, the team will plant a tree on your behalf making it easy for you to combat the effects of climate change.</p>
          <div class="banner">
            <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/Website_Header_2000px_x_600px_4_1600x_e627731b-60a1-456a-963e-a462f1737a19.png?v=1617252717" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-sizes="auto">
            <div class="banner-content">
              <img class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0411/6437/4183/files/OTP_H_BW_WHITE_RGB_410x_042f177a-9a22-4bf4-a661-2dd9fd0bebaa.png?v=1617253593" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-sizes="auto">
            </div>
          </div>
          <p><a class="one-tree-link" href="https://onetreeplanted.org/">For More Information {% include 'icon-arrow-right' %}</a></p>
        </div>
      </div>
    </div>
  </div>
</div>