{% include 'page-about-us-css' %}

<div class="page-about-us page-static-common">
  {% section 'ab-banner' %}
  {% section 'ab-our-values' %}
  {% section 'ab-our-design' %}
  {% section 'ab-our-partners' %}
  {% section 'instagram-feed' %}
</div>
