{% include 'page-our-world-css' %}

<div class="page-our-world">
  {% section 'ow-banner' %}
  {% section 'ow-about-us' %}
  {% section 'ow-feature-row' %}
  {% section 'ow-three-columns' %}
  {% section 'ow-image-with-content' %}
  {% section 'instagram-feed' %}
</div>