{% include 'page-materials-and-care-css' %}

<div class="page-materials-and-care page-static-common">
  {% section 'mc-banner' %}
  {% section 'mc-materials' %}
  {% section 'mc-three-columns' %}
  {% section 'mc-care' %}
  {% section 'instagram-feed' %}
</div>