{% include 'page-anika-css' %}

<div class="page-mfy-anika">
  {% section 'anika-banner' %}
  {% section 'inspired-earth' %}
  {% section 'inspired-seed' %}
  {% comment %}
  {% section 'anika-collection' %}
  {% section 'anika-feature-row' %}
  {% section 'inspired-growth' %}
  {% section 'anika-testimonial' %}
  {% section 'anika-blog' %}
  {% endcomment %}
  {% section 'instagram-feed' %}
</div>