<section class="artical-section" id="artical1">
    <div class="container">
        <h2 class="artical-title">The Four Cs of a Diamond</h2>
        <p>Every diamond, whether lab-grown or mined, is classified using 4 Cs – cut, carat, colour and clarity. We may have all heard these terms before, but let’s take a minute to understand what they mean and how they affect the quality of our diamonds.</p>
        <div class="banner-img">
            <img data-src="{{ 'Article_page_pic_1_977x486_aa78ebda-8ece-40a7-b5fb-9b4079198eaf.png' | file_img_url: '1024x768' }}"
                alt="" class="lazyload">
        </div>
        <div class="row">
            <div class="col-md-5 order-md-2">
                <img data-src="{{ 'Article_page_pic_2_441x624_4a025d59-3461-4ee2-a59b-8c03209f2db2.png' | file_img_url: '1024x768' }}"
                alt="" class="lazyload">
            </div>
            <div class="col-md-7 pr-40 order-md-1">
                <h5>Cut</h5>
                <p>Let’s start with the most important quality of a diamond – its cut. This doesn’t only refer to the shape of the diamond, but also its proportions, symmetry and polish. Here, cut refers to the quality of the facets or tiny surfaces on the diamond. Any well-cut diamond will have at least 58 facets. The light is reflected internally from one facet to the other before finally shining from the surface of the gem. These facets need to be arranged keeping the most precise mathematical proportions in mind to enhance the diamond’s fire, brilliance and sparkle. In order to grade the cut of a diamond, the diamond will be evaluated based on its:</p>
                <p>Brilliance – This refers to the intensity with which the diamond is able to reflect light from its surface as well as from the inside.</p>
                <p>Fire – Also known as dispersion, this is how light scatters through the stone to create a rainbow of light, similar to what is seen with a prism.
                </p>
                <p>Scintillation – These are the flashes of white light or sparkle that are visible when the diamond is moved. </p>
                <p>When it comes to cut, you need to look for an <strong>‘Ideal-Cut’.</strong>This means that the diamond’s angles and proportions have been cut to produce the ultimate brilliance, fire and sparkle.</p>
                <h5>Carat</h5>
                <p>Carat is actually a measure of weight, although many people erroneously believe it to be a measure of size. The word carat comes from carob seeds, which were used in ancient times to measure the weight of a diamond. Thankfully, the way we weigh our diamonds today is far more precise. In terms of weight, a single carat is the same as 200 milligrams. Does that mean that two half-carat diamonds should cost the same as a one-carat diamond? Sadly, no. Since larger diamonds take longer and are more difficult to grow, they’re often priced higher than smaller diamonds of equivalent weight – even if the colour, clarity and cut, is the same.</p>
            </div>
        </div>
        <div class="banner-img">
            <img data-src="{{ 'Article_page_pic_3_977x486_46e75660-1b04-4a2e-9b59-27c838a2a0f3.png' | file_img_url: '1024x768' }}"
            alt="" class="lazyload">
        </div>
        <div class="row">
            <div class="col-md-5 order-md-2">
                <img data-src="{{ 'Article_page_pic_4_441x550_ad61d825-96ac-4ce3-b559-7ab899f16ea1.png' | file_img_url: '1024x768' }}"
                alt="" class="lazyload">
            </div>
            <div class="col-md-7 pr-40 order-md-1">
                <h5>Colour</h5>
                <p>When it comes to diamonds, the colour is graded depending on how white or clear it is. A diamond that is perfectly structured will be completely clear. Sadly, not all colourless diamonds are created equal. They come in a variety of different shades, so a grading scale is used to classify them. The grading scale runs from D to Z. A truly colourless diamond will be rated D, while diamonds that have a noticeable brown or yellow tint are rated Z.</p>
                <h5>Clarity</h5>
                <p>All diamonds, lab-grown and mined, come with inclusions such as uncrystallised carbon, strands of minerals or tiny fractures. These inclusions generally cannot be seen with the naked eye, but they do influence the manner in which a diamond reflects and refracts light. Expert gemmologists will use magnifiers to examine diamonds to understand the number, nature, position and size of the inclusions, as well as their effect on the diamond’s overall appearance. The diamond will then be assigned a clarity grade that ranges from Flawless (F) to Included (I). The scale has 11 grades as follows:</p>
                <p>
                    F – Flawless – Inside and out
                    <br>
                    IF – Internally Flawless – Blemishes on the surface but not internally
                    <br>
                    VVS1 & VVS2 – Very, Very Slightly Included – Two Levels
                    <br>
                    VS1 & VS2 – Very Slightly Included – Two Levels
                    <br>
                    SI1 & SI2 – Slightly Included – Two Levels
                    <br>
                    I1, I2 & I3 – Included – Three Levels
                </p>
                <p>If you’d like to learn more about how diamonds are classified and graded, please feel free to reach out to our diamond experts.</p>
            </div>
        </div>
        <div class="artical-pagination">
            <div class="float-left">
                <p>previous article</p>
                <a href="/pages/looking-after-diamond-jewellery">looking-after-diamond-jewellery</a>
            </div>
            <div class="float-right text-right">
                <p>next article</p>
                <a href="/pages/understanding-what-s-real-and-what-s-fake">Understanding What’s Real and What’s Fake</a>
            </div> 
        </div>
    </div>
</section>