<section class="artical-section" id="artical1">
    <div class="container">
        <h2 class="artical-title">Lab-Grown Diamonds – The Science Behind the Process</h2>
        <p>Scientists have tried replicating the natural diamond process for several years now. Even though experiments started as early as 1893, the lab-grown processes used today were first formulated around 1954. After years of perfecting the process, lab-grown diamonds can now easily be created in one of two ways. Based on the process used, lab-grown diamonds can be of two types – High Pressure High Temperature (HPHT) or Chemical Vapour Deposition (CVD).</p>
        <div class="banner-img">
            <img data-src="{{ 'Article_page_pic_1_977x486_aa78ebda-8ece-40a7-b5fb-9b4079198eaf.png' | file_img_url: '1024x768' }}"
                alt="" class="lazyload">
        </div>
        <div class="row">
            <div class="col-md-5 order-md-2">
                <img data-src="{{ 'Article_page_pic_2_441x624_4a025d59-3461-4ee2-a59b-8c03209f2db2.png' | file_img_url: '1024x768' }}"
                alt="" class="lazyload">
            </div>
            <div class="col-md-7 pr-40 order-md-1">
                <h5>HPHT Diamonds</h5>
                <p>Natural diamonds are formed deep in the earth’s crust, under high temperature and pressure conditions. These diamonds take several years to form and can only be mined when volcanic activity brings the stones closer to the earth’s surface. The HPHT process seeks to mimic the high temperature and pressure conditions that are found in the earth’s crust. To create these diamonds, a small diamond seed is placed into carbon. Then, either with the help of a belt press, a cubic press or a split-sphere press, the seed is exposed to temperatures as high as 2,000° Celsius. It is also put under immense pressure of 1.5 million pounds per square inch. Under these conditions, the pure carbon around the seed starts to melt and a diamond forms around the starter seed. Once cooled, a pure carbon diamond is formed.</p>
                    <h5>CVD Diamonds</h5>
                    <p>These diamonds start with a thin slice of a diamond seed. Often, this thin slice is taken from an HPHT diamond. This seed is placed in a sealed chamber known as a plasma reactor. The seed is then heated up to a temperature of 800° Celsius, following which the chamber is filled with carbon-rich gases like methane. Technology similar to that of lasers or microwaves is then used to ionise the gases into plasma. The ionisation process breaks down the molecular bonds of the gases, allowing pure carbon to adhere to the diamond seed and slowly crystallise.
                    </p>
            </div>
        </div>
        <div class="banner-img">
            <img data-src="{{ 'Article_page_pic_3_977x486_46e75660-1b04-4a2e-9b59-27c838a2a0f3.png' | file_img_url: '1024x768' }}"
            alt="" class="lazyload">
        </div>
        <div class="row">
            <div class="col-md-5 order-md-2">
                <img data-src="{{ 'Article_page_pic_4_441x550_ad61d825-96ac-4ce3-b559-7ab899f16ea1.png' | file_img_url: '1024x768' }}"
                    alt="" class="lazyload">
            </div>
            <div class="col-md-7 pr-40 order-md-1">
                <h5>Which Process Is Better?</h5>
                <p>Honestly speaking, neither process is technically better than the other. You don’t need to worry about whether an HPHT diamond is better than a CVD diamond. In fact, when it comes to diamonds, the process doesn’t really matter. Whether you’ve picked a natural diamond, an HPHT diamond or a CVD diamond, what you get is a truly magnificent stone that will last forever.</p>
            </div>
        </div>
        <div class="artical-pagination">
            <div class="float-left">
                <p>previous article</p>
                <a href="/pages/what-are-lab-grown-diamonds-are-they-real">What Are Lab-Grown Diamonds? Are They Real?</a>
            </div>
            <div class="float-right text-right">
                <p>next article</p>
                <a href="/pages/looking-after-diamond-jewellery">looking-after-diamond-jewellery</a>
            </div> 
        </div>
    </div>
</section>